In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

# Example 1

In [2]:
date1 = pd.Series(pd.date_range('2012-1-1  12:00:00', periods=7, freq='M'))
date2 = pd.Series(pd.date_range('2013-3-11 21:45:00', periods=7, freq='W'))

In [4]:
df = pd.DataFrame(dict(Start_date = date1, End_date = date2))
df

             End_date          Start_date
0 2013-03-17 21:45:00 2012-01-31 12:00:00
1 2013-03-24 21:45:00 2012-02-29 12:00:00
2 2013-03-31 21:45:00 2012-03-31 12:00:00
3 2013-04-07 21:45:00 2012-04-30 12:00:00
4 2013-04-14 21:45:00 2012-05-31 12:00:00
5 2013-04-21 21:45:00 2012-06-30 12:00:00
6 2013-04-28 21:45:00 2012-07-31 12:00:00

## Difference between two timestamps in seconds –

- First line calculates the difference between two timestamps
- Second line converts the difference in terms of seconds (timedelta64(1,’s’)- small s indicates seconds)

In [5]:
df['diff_seconds'] = df['End_date'] - df['Start_date']

df['diff_seconds'] = df['diff_seconds']/np.timedelta64(1,'s')

df

             End_date          Start_date  diff_seconds
0 2013-03-17 21:45:00 2012-01-31 12:00:00    35545500.0
1 2013-03-24 21:45:00 2012-02-29 12:00:00    33644700.0
2 2013-03-31 21:45:00 2012-03-31 12:00:00    31571100.0
3 2013-04-07 21:45:00 2012-04-30 12:00:00    29583900.0
4 2013-04-14 21:45:00 2012-05-31 12:00:00    27510300.0
5 2013-04-21 21:45:00 2012-06-30 12:00:00    25523100.0
6 2013-04-28 21:45:00 2012-07-31 12:00:00    23449500.0

## Difference between two timestamps in Minutes –

In [7]:
df['diff_minutes'] = df['End_date'] - df['Start_date']
df['diff_minutes']=df['diff_minutes']/np.timedelta64(1,'m')
 
df

             End_date          Start_date  diff_seconds  diff_minutes
0 2013-03-17 21:45:00 2012-01-31 12:00:00    35545500.0      592425.0
1 2013-03-24 21:45:00 2012-02-29 12:00:00    33644700.0      560745.0
2 2013-03-31 21:45:00 2012-03-31 12:00:00    31571100.0      526185.0
3 2013-04-07 21:45:00 2012-04-30 12:00:00    29583900.0      493065.0
4 2013-04-14 21:45:00 2012-05-31 12:00:00    27510300.0      458505.0
5 2013-04-21 21:45:00 2012-06-30 12:00:00    25523100.0      425385.0
6 2013-04-28 21:45:00 2012-07-31 12:00:00    23449500.0      390825.0

## Difference between two timestamps in Hours –

In [9]:
df['diff_hours'] = df['End_date'] - df['Start_date']
df['diff_hours']=df['diff_hours']/np.timedelta64(1,'h')
 
df

,End_date,Start_date,diff_seconds,diff_minutes,diff_hours
0,2013-03-17 21:45:00,2012-01-31 12:00:00,35545500.0,592425.0,9873.75
1,2013-03-24 21:45:00,2012-02-29 12:00:00,33644700.0,560745.0,9345.75
2,2013-03-31 21:45:00,2012-03-31 12:00:00,31571100.0,526185.0,8769.75
3,2013-04-07 21:45:00,2012-04-30 12:00:00,29583900.0,493065.0,8217.75
4,2013-04-14 21:45:00,2012-05-31 12:00:00,27510300.0,458505.0,7641.75
5,2013-04-21 21:45:00,2012-06-30 12:00:00,25523100.0,425385.0,7089.75
6,2013-04-28 21:45:00,2012-07-31 12:00:00,23449500.0,390825.0,6513.75

# Example 2

In [10]:
# Create data frame
df = pd.DataFrame()

# Create two datetime features
df['Arrived'] = [pd.Timestamp('01-01-2017'), pd.Timestamp('01-04-2017')]
df['Left']    = [pd.Timestamp('01-01-2017'), pd.Timestamp('01-06-2017')]

df

     Arrived       Left
0 2017-01-01 2017-01-01
1 2017-01-04 2017-01-06