In [7]:

import pandas as pd
import numpy as np

In [8]:
location = 'E:\\MYLEARN\\2-ANALYTICS-DataScience\\datasets\\project\\movies.dat'

In [10]:
# reading from external file
df = pd.read_table(location, sep= '::', engine='python')

In [11]:
df.head()

   1                    Toy Story (1995)   Animation|Children's|Comedy
0  2                      Jumanji (1995)  Adventure|Children's|Fantasy
1  3             Grumpier Old Men (1995)                Comedy|Romance
2  4            Waiting to Exhale (1995)                  Comedy|Drama
3  5  Father of the Bride Part II (1995)                        Comedy
4  6                         Heat (1995)         Action|Crime|Thriller