In [1]:
# empty tuple
tup1 = ()

# a tuple with single data item
tup2 = (99,)

# tuple of strings
tup3 = ("hi", "hello", "bye")

# tuple of int, float, string
tup4 = (1, 2.8, "Hello World")

# tuple of string and list
tup5 = ("Book", [1, 2, 3])

# tuples inside another tuple
# nested tuple
tup6 = ((2, 3, 4), (1, 2, "hi"))

In [2]:
def xyz():
    X = 10
    Y = 100

    return X, Y

In [6]:
ret = xyz()
ret[1]

100

In [3]:
# create an empty tuple
py_tuple = ()
print("A blank tuple:", py_tuple)

# create a tuple without using round brackets
py_tuple = 33, 55, 77
print("A tuple set without parenthesis:", py_tuple, "type:", type(py_tuple))

# create a tuple of numbers
py_tuple = (33, 55, 77)
print("A tuple of numbers:", py_tuple)

# create a tuple of mixed numbers
# such as integer, float, imaginary
py_tuple = (33, 3.3, 3+3j)
print("A tuple of mixed numbers:", py_tuple)

# create a tuple of mixed data types
# such as numbers, strings, lists
py_tuple = (33, "33", [3, 3])
print("A tuple of mixed data types:", py_tuple)

# create a tuple of tuples
# i.e. a nested tuple
py_tuple = (('x', 'y', 'z'), ('X', 'Y', 'Z'))
print("A tuple of tuples:", py_tuple)

A blank tuple: ()
A tuple set without parenthesis: (33, 55, 77) type: <class 'tuple'>
A tuple of numbers: (33, 55, 77)
A tuple of mixed numbers: (33, 3.3, (3+3j))
A tuple of mixed data types: (33, '33', [3, 3])
A tuple of tuples: (('x', 'y', 'z'), ('X', 'Y', 'Z'))

In [4]:
# creating a tuple from a set
py_tuple = tuple({33, 55 , 77})
type(py_tuple)

py_tuple

(33, 77, 55)

In [7]:
# creating a tuple from a list
py_tuple = tuple([33, 55 , 77])
type(py_tuple)

py_tuple

(33, 55, 77)

In [18]:
# A single element surrounded by parenthesis will create a string instead of a tuple
py_tuple = ('single')
type(py_tuple)

str

In [8]:
# You need to place a comma after the first element to create a tuple of size "one"
py_tuple = ('single',)
type(py_tuple)

tuple

In [9]:
# You can use a list of one element and convert it to a tuple
py_tuple = tuple(['single'])
type(py_tuple)

tuple

In [10]:
# You can use a set of one element and convert it to a tuple
py_tuple = tuple({'single'})
type(py_tuple)

tuple

In [ ]:
# accessing first element

# Via Indexing
# The simplest is the direct access method where you use the index operator
# [] to pick an item from the tuple. 
# You can start indexing from the 0th position.

In [11]:
print(tup5[0])

# accessing third element
# prints "bye"
print(tup6[1])

Book
(1, 2, 'hi')

In [23]:
vowel_tuple = ('a','e','i','o','u')

print("The tuple:", vowel_tuple, "Length:", len(vowel_tuple))

# Indexing the first element
print("OP(vowel_tuple[0]):", vowel_tuple[0])

# Indexing the last element
print("OP(vowel_tuple[length-1]):", vowel_tuple[len(vowel_tuple) - 1])

The tuple: ('a', 'e', 'i', 'o', 'u') Length: 5
OP(vowel_tuple[0]): a
OP(vowel_tuple[length-1]): u

In [27]:
print(vowel_tuple[len(vowel_tuple)+1])

IndexError: tuple index out of range

In [28]:
# Indexing a non-existent member
# will raise the IndexError
try:
    print(vowel_tuple[len(vowel_tuple)+1])
except Exception as ex:
    print("OP(vowel_tuple[length+1]) Error:", ex)

OP(vowel_tuple[length+1]) Error: tuple index out of range

In [30]:
# Indexing with a non-integer index
# will raise the TypeError
try:
    print(vowel_tuple[0.0])
except Exception as ex:
    print("OP(vowel_tuple[0.0]) Error:", ex)

OP(vowel_tuple[0.0]) Error: tuple indices must be integers or slices, not float

In [31]:
# Indexing in a tuple of tuples
t_o_t = (('jan', 'feb', 'mar'), ('sun', 'mon', 'wed'))

# Accessing elements from the first sub tuple
print("OP(t_o_t[0][2]):", t_o_t[0][2])

# Accessing elements from the second sub tuple
print("OP(t_o_t[1][2]):", t_o_t[1][2])

OP(t_o_t[0][2]): mar
OP(t_o_t[1][2]): wed

In [32]:
# Via Reverse Indexing

# The reverse indexing works in the following manner.
    # The index -1 represents the last item.
    # An index with value -2 will refer to the second item from the rear end.

In [33]:
vowels = ('a','e','i','o','u')
vowels

print(vowels[-1])
print(vowels[-2])
print(vowels[-5])

u
o
a

In [ ]:
# Via Slicing Operator

In [34]:
# If you need to access not one but more than one element from a tuple, 
# then Python’s slicing operator can come to use.

# The single colon, i.e., a “:” represents the slicing operator in Python.

In [12]:
weekdays = ('mon', 'tue', 'wed' ,'thu', 'fri', 'sat', 'sun')
weekdays

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [13]:
# accessing elements leaving the first one
weekdays[1:]

('tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [14]:
# accessing elements between the first and fifth positions
# excluding the ones at the first and fifth position
weekdays[1:5]

('tue', 'wed', 'thu', 'fri')

In [15]:
# accessing elements after the fifth position
weekdays[5:]

('sat', 'sun')

In [16]:
# accessing elements that appears after
# counting five from the rear end
weekdays[:-5]

('mon', 'tue')

In [42]:
# accessing five elements from the rear
weekdays[-5:]

('wed', 'thu', 'fri', 'sat', 'sun')

In [39]:
# accessing elements from the start to end
weekdays[:]

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [46]:
# Similar to list and strings we can use negative indexes to access the tuple 
# elements from the end.
# -1 to access last element, -2 to access second last and so on.
my_data = (1, 2, "Kevin", 8.9)

# accessing last element
# prints 8.9
print(my_data[-1])

# prints 2
print(my_data[-3])

8.9
2

In [47]:
# Accessing elements from nested tuples
my_data = (1, "Steve", (11, 22, 33))

# prints 'v'
print(my_data[1][3])

# prints 22
print(my_data[2][1])

v
22

In [1]:
# changing the tuple element
my_data = (1, [9, 8, 7], "World")
print(my_data)

# changing the element of tuple
# This is not valid since tuple elements are immutable
# TypeError: 'tuple' object does not support item assignment
my_data[0] = 101

(1, [9, 8, 7], 'World')

TypeError: 'tuple' object does not support item assignment

In [49]:
# changing the tuple element, which are mutable
my_data = (1, [9, 8, 7], "World")
print(my_data)

# changing the element of the list
# this is valid because list is mutable
my_data[1][2] = 99
print(my_data)

(1, [9, 8, 7], 'World')
(1, [9, 8, 99], 'World')

In [50]:
# deleting tuple elements
my_data = (1, 2, 3, 4, 5, 6)
print(my_data)

# not possible
# error
# del my_data[2]

# deleting entire tuple is possible
del my_data

(1, 2, 3, 4, 5, 6)

In [51]:
# Slicing operation in tuples
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# elements from 3rd to 5th
# prints (33, 44, 55)
print(my_data[2:5])

# elements from start to 4th
# prints (11, 22, 33, 44)
print(my_data[:4])

# elements from 5th to end
# prints (55, 66, 77, 88, 99)
print(my_data[4:])

# elements from 5th to second last
# prints (55, 66, 77, 88)
print(my_data[4:-1])

# displaying entire tuple
print(my_data[:])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)

In [10]:
# Membership Test in Tuples
# in: Checks whether an element exists in the specified tuple.
# not in: Checks whether an element does not exist in the specified tuple.
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# true
print(22 in my_data)

# false
print(2 in my_data)

# false
print(88 not in my_data)

# true
print(101 not in my_data)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
True
False
False
True

In [52]:
# Iterating a tuple
# tuple of fruits
my_tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in my_tuple:
     print(fruit)

Apple
Orange
Grapes
Banana

In [53]:
# tuple methods
my_tuple = ('a','p','p','l','e',)

# Count
print(my_tuple.count('p'))

# Index
print(my_tuple.index('l'))

2
3

In [ ]:
# How Can You Delete A Tuple

In [55]:
py_tuple = ('p', 'y', 't', 'h', 'o', 'n')

# you can't delete a particular item from a tuple
try:
    del py_tuple[0]
except Exception as ex:
    print("OP(del py_tuple[0]) Error:", ex)

OP(del py_tuple[0]) Error: 'tuple' object doesn't support item deletion

In [56]:
# but you can delete a whole tuple
del py_tuple
try:
    print(py_tuple)
except Exception as ex:
    print("print(py_tuple) => Error:", ex)

print(py_tuple) => Error: name 'py_tuple' is not defined