In [16]:
d = ['03/09/2015 12:33:00 AM', '03/29/2015 02:33:00']

In [2]:
import datetime as dt

In [4]:
dt.datetime.strptime(d, '%m/%d/%Y %I:%M:%S %p')

datetime.datetime(2015, 3, 29, 2, 33)

In [5]:
import pandas as pd

In [17]:
date = pd.Series(d)
date

0    03/09/2015 12:33:00 AM
1       03/29/2015 02:33:00
dtype: object

In [26]:
date = pd.to_datetime(date)
date.dt.year

0    2015
1    2015
dtype: int64

In [23]:
td = date[0] - date[1]

In [24]:
td.total_seconds()

-1735200.0

In [31]:
gen = pd.DataFrame(['Action|Drama|Comedy', 'Children|Comedy', 'Action|Drama'], columns=['gen'])

In [32]:
gen

                   gen
0  Action|Drama|Comedy
1      Children|Comedy
2         Action|Drama

### these 4 as separate columns : Action Drama Comedy Children

In [33]:
for i in ['Action', 'Drama' , 'Comedy' , 'Children']:
    gen[i] = 0

In [35]:
gen

                   gen  Action  Drama  Comedy  Children
0  Action|Drama|Comedy       0      0       0         0
1      Children|Comedy       0      0       0         0
2         Action|Drama       0      0       0         0

In [37]:
gen.loc[0, ['Action', 'Drama' , 'Comedy']] = 1

In [38]:
gen

                   gen  Action  Drama  Comedy  Children
0  Action|Drama|Comedy       1      1       1         0
1      Children|Comedy       0      0       0         0
2         Action|Drama       0      0       0         0

In [39]:
gen.loc[1, ['Children' , 'Comedy']] = 1

In [40]:
gen.loc[2, ['Action' , 'Drama']] = 1

In [41]:
gen

                   gen  Action  Drama  Comedy  Children
0  Action|Drama|Comedy       1      1       1         0
1      Children|Comedy       0      0       1         1
2         Action|Drama       1      1       0         0

# Statistics

In [42]:
import scipy # Scientific Python

In [44]:
?scipy

Type:        module
String form: <module 'scipy' from '/Users/nimisha/opt/anaconda3/lib/python3.7/site-packages/scipy/__init__.py'>
File:        ~/opt/anaconda3/lib/python3.7/site-packages/scipy/__init__.py
Docstring:
SciPy: A scientific computing package for Python
================================================

Documentation is available in the docstrings and
online at https://docs.scipy.org.

Contents
--------
SciPy imports all the functions from the NumPy namespace, and in
addition provides:

Subpackages
-----------
Using any of these subpackages requires an explicit import.  For example,
``import scipy.cluster``.

::

 cluster                      --- Vector Quantization / Kmeans
 fft                          --- Discrete Fourier transforms
 fftpack                      --- Legacy discrete Fourier transforms
 integrate                    --- Integration routines
 interpolate                  --- Interpolation Tools
 io                           --- Data input and output
 linalg                       --- Linear algebra routines
 linalg.blas                  --- Wrappers to BLAS library
 linalg.lapack                --- Wrappers to LAPACK library
 misc                         --- Various utilities that don't have
                                  another home.
 ndimage                      --- n-dimensional image package
 odr                          --- Orthogonal Distance Regression
 optimize                     --- Optimization Tools
 signal                       --- Signal Processing Tools
 signal.windows               --- Window functions
 sparse                       --- Sparse Matrices
 sparse.linalg                --- Sparse Linear Algebra
 sparse.linalg.dsolve         --- Linear Solvers
 sparse.linalg.dsolve.umfpack --- :Interface to the UMFPACK library:
                                  Conjugate Gradient Method (LOBPCG)
 sparse.linalg.eigen          --- Sparse Eigenvalue Solvers
 sparse.linalg.eigen.lobpcg   --- Locally Optimal Block Preconditioned
                                  Conjugate Gradient Method (LOBPCG)
 spatial                      --- Spatial data structures and algorithms
 special                      --- Special functions
 stats                        --- Statistical Functions

Utility tools
-------------
::

 test              --- Run scipy unittests
 show_config       --- Show scipy build configuration
 show_numpy_config --- Show numpy build configuration
 __version__       --- SciPy version string
 __numpy_version__ --- Numpy version string

In [2]:
import scipy.stats as stats
import numpy as np

## lets create a random dummy data whicch is normally distributed

In [63]:
mean = 10
std = 1.1
np.random.seed(123)
height_data = np.random.normal(loc = mean , scale = std, size = 100000)

In [64]:
height_data # asuuming that this is pop data
mu = height_data.mean()
sigma = height_data.std()

# < 174 ??

In [65]:
z =( height_data - mu) / sigma

In [66]:
round(z.mean(),0)

-0.0

In [67]:
round(z.std(),0)

1.0

stats.norm.cdf # cumulative dennsity function : this computes the area under the curve for x lim -inf to x
prob that ht <= 174
compute area from -inf to 174

In [4]:
round(stats.norm.cdf(x = 174,  loc = 176, scale = 8 ),4)

0.4013

    - In an article about the cost of health care, Money magazine reported that a visit to a hospital emergency room for something as simple as a sore throat has a mean cost of $328 (Money, January 2009).Assume that the cost for this type of hospital emergency room visit is normally distributed with a standard deviation of $92. Answer the following questions about the cost of a hospital emergency room visit for this medical service.
    a. What is the probability that the cost will be less than $250?
    b. What is the probability that the cost will be more than $500?
    c. What is the probability that the cost will be between $300 and $400?
    d. If the cost to a patient is in the lower 8% of charges for this medical service,  what was the cost of this patient’s emergency room visit?

* cost less than  250
* prob for cost from -inf to 250

In [5]:
mu = 328
sigma = 92

In [6]:
stats.norm.cdf(x = 250 , loc = mu, scale = sigma)

0.19826741629443773

* What is the probability that the cost will be more than $500?
* more than 500 --> from 500 to + inf

In [7]:
1 - stats.norm.cdf(x = 500 , loc = mu, scale = sigma)

0.030772109600403552

In [8]:
stats.norm.cdf(x = 400 , loc = mu, scale = sigma) - stats.norm.cdf(x = 300 , loc = mu, scale = sigma)

0.4026400771146216

If the cost to a patient is in the lower 8% of charges for this medical service,  what was the cost of this patient’s emergency room visit?

    - 8% of the charges 
    - 100 patients are vissiting the ER ..
    - 8 ppl have been charged less than x
    - 8% of patients have been charged less than x 
- the value of x at 8th percentile ??

stats.norm.ppf # point percentile function 
this computes the percentile vvalue for a given prob or cumulative density

In [9]:
stats.norm.ppf(0.08, loc = 328, scale = 92)

198.7334164515138

### prob that x will vvalue lower than 198.733 is 8 %

In [12]:
stats.norm.cdf(198.7334164515138, loc = 328, scale = 92) *100

8.000000000000002

A person must score in the upper 2% of the population on an IQ test to qualify for membership in Mensa, the international high-IQ society (U.S. Airways Attaché, September 2000). If IQ scores are normally distributed with a mean of 100 and a standard deviation of 15, what score must a person have to qualify for Mensa?

In [16]:
mean_score = 100
std_score = 15

### upper 2% -->> q = 100 - 2. = 98%

In [18]:
stats.norm.ppf(0.98, loc = mean_score, scale = std_score)

130.80623365947733

### lower 2%

In [19]:
stats.norm.ppf(0.02, loc = mean_score, scale = std_score)

69.19376634052266

Barron’s reported that the average number of weeks an individual is unemployed is 17.5 weeks (Barron’s, February 18, 2008). Assume that for the population of all unemployed individuals the population mean length of unemployment is 17.5 weeks and that the population standard deviation is 4 weeks. Suppose you would like to select a random sample of 50 unemployed individuals for a follow-up study.

In [21]:
pop_mean = 17.5
pop_std = 4
sample_size = 50

What is the probability that a simple random sample of 50 unemployed individuals will provide a sample mean within 1 week of the population mean?

within 1 week of population mean 
17.5 +- 1
prob that a sample that has been collected will have unemployemnt avg between 16.5 to 18.5 weeks

In [22]:
from math import sqrt

In [23]:
# for this distribution 
# mean = ? # std ==?
mean = pop_mean
std = pop_std/ sqrt(sample_size)
stats.norm.cdf(18.5, loc = mean , scale = std ) - stats.norm.cdf(16.5, loc = mean , scale = std )

0.9229001282564584