# List & List Methods

In [1]:
empty_list = list() # []
basket_list = ['apple', 'milk','bread', 'eggs', 'curd', 'coconut', 'meat', 'milk', 'guava', 'banana','peach','oranges', 'apple', 'bread' ]
alist = [1,'a',2,'b',3,'c', 4,'d',5, 'e', 6, 'e']

In [2]:
print(dir(alist))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# 1. Adding elements
    - append : add one elemnt at the end of the list
    - extend : add multiple elements at the end of the list
    - insert : add a single element at a given position

In [3]:
print(alist)

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e']

In [4]:
print('Before append : ', alist)
alist.append('append')
print('After append  : ', alist)

Before append :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e']
After append  :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append']

In [5]:
print('Before append : ', alist)
alist.append(['append1', 'append2'])
print('After append  : ', alist)

Before append :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append']
After append  :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2']]

In [6]:
mix_list = [23, 45.8 , 'a', True, ['item 1', 'item2', 'item3'], {45, 67, 98.888, True}, (45, 772)]

### append the contents of another list as individual elements

In [7]:
list2 = ['item1', 'item2', 'item3']

In [8]:
print('Before append : ', alist)
alist.append(list2)
print('After append  : ', alist)

Before append :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2']]
After append  :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2'], ['item1', 'item2', 'item3']]

In [11]:
# concatenation : +
print(alist + list2) # ends up giving a new list 
print('After concat alist :', alist)
print('After concat list2 :', list2)

newlist = alist + list2
#alist = alist + list2

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2'], ['item1', 'item2', 'item3'], 'item1', 'item2', 'item3']
After concat alist : [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2'], ['item1', 'item2', 'item3']]
After concat list2 : ['item1', 'item2', 'item3']

In [12]:
print('Before extend : ', alist)
alist.extend(list2)
print('After extend  : ', alist)

Before extend :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2'], ['item1', 'item2', 'item3']]
After extend  :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2'], ['item1', 'item2', 'item3'], 'item1', 'item2', 'item3']

In [13]:
print('Before insert : ', alist)
alist.insert(3, 'insert')
print('After insert  : ', alist)

Before insert :  [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2'], ['item1', 'item2', 'item3'], 'item1', 'item2', 'item3']
After insert  :  [1, 'a', 2, 'insert', 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2'], ['item1', 'item2', 'item3'], 'item1', 'item2', 'item3']

# 2. Removing elements
    - remove : removes by element & the first occcurence of the element
    - pop : removes by position

In [14]:
print('Before remove milk : ', basket_list)
basket_list.remove('milk')
print('After remove milk  : ', basket_list)

Before remove milk :  ['apple', 'milk', 'bread', 'eggs', 'curd', 'coconut', 'meat', 'milk', 'guava', 'banana', 'peach', 'oranges', 'apple', 'bread']
After remove milk  :  ['apple', 'bread', 'eggs', 'curd', 'coconut', 'meat', 'milk', 'guava', 'banana', 'peach', 'oranges', 'apple', 'bread']

In [15]:
print('Before pop : ', basket_list)
print('Popped element :' ,basket_list.pop(4))
print('After pop  : ', basket_list)

Before pop :  ['apple', 'bread', 'eggs', 'curd', 'coconut', 'meat', 'milk', 'guava', 'banana', 'peach', 'oranges', 'apple', 'bread']
Popped element : coconut
After pop  :  ['apple', 'bread', 'eggs', 'curd', 'meat', 'milk', 'guava', 'banana', 'peach', 'oranges', 'apple', 'bread']

In [16]:
basket_list[1:9]

['bread', 'eggs', 'curd', 'meat', 'milk', 'guava', 'banana', 'peach']

In [19]:
print(newlist)

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2'], ['item1', 'item2', 'item3'], 'item1', 'item2', 'item3']

In [22]:
del(newlist[14:])

In [24]:
print(newlist)

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e', 'append', ['append1', 'append2']]

In [26]:
newlist[13]

['append1', 'append2']

## Counting no. of occurences of any element

In [27]:
string = 'Nimisha Pandey'
# a string object can be an list of characters

In [28]:
print(list(string))

['N', 'i', 'm', 'i', 's', 'h', 'a', ' ', 'P', 'a', 'n', 'd', 'e', 'y']

In [29]:
string[0]

'N'

In [30]:
string[-1]

'y'

In [31]:
string[::2]

'NmsaPne'

In [33]:
string.count('i')

2

In [38]:
basket_list = ['apple', 'milk','bread', 'eggs', 'curd', 'coconut', 'meat', 'milk', 'guava', 'banana','peach','oranges', 'apple', 'bread', 'milk'
              , 'milk']

In [39]:
basket_list.count('milk')

4

In [40]:
alist2 = [11, 66, 98, 9, 10, 63, 66, 6, 66, 78]

In [42]:
alist2.count(66)

3

In [43]:
# how has scored 66 --> first occcurence

In [45]:
first = alist2.index(66)  # pos of the first occurence
first

1

In [48]:
second = alist2.index(66, first+1)  # pos of the second occurence # its start looking from the given piosition
second

6

In [49]:
alist2.index(66, second+1)  # pos of the third occurence # its start looking from the given piosition

8

In [52]:
l = [34, 65, 98, 91, 100, 1, 78.98, 44.34]
print('Before sort ', l)
l.sort()
print('After sort ', l)

Before sort  [34, 65, 98, 91, 100, 1, 78.98, 44.34]
After sort  [1, 34, 44.34, 65, 78.98, 91, 98, 100]

In [53]:
l = [34, 65, 98, 91, 100, 1, 78.98, 44.34, True, False]
print('Before sort ', l)
l.sort()
print('After sort ', l)

Before sort  [34, 65, 98, 91, 100, 1, 78.98, 44.34, True, False]
After sort  [False, 1, True, 34, 44.34, 65, 78.98, 91, 98, 100]

In [54]:
l = [34, 65, 98, 91, 100, 1, 78.98, 44.34, True, False]
print('Before sort ', l)
l.sort(reverse = True) # sorts in descending order
print('After sort ', l)

Before sort  [34, 65, 98, 91, 100, 1, 78.98, 44.34, True, False]
After sort  [100, 98, 91, 78.98, 65, 44.34, 34, 1, True, False]

True : anything except for 0 & '' & None
False = 0 | '' | None

In [57]:
bool(0), bool(''), bool(None)

(False, False, False)

In [58]:
n = ['A', 'z', 'ca', 'c', 'cz', 'Cz', 'CZ']
print('Before sort ', n)
n.sort() 
print('After sort ', n)

Before sort  ['A', 'z', 'ca', 'c', 'cz', 'Cz', 'CZ']
After sort  ['A', 'CZ', 'Cz', 'c', 'ca', 'cz', 'z']

In [63]:
ord('Z')

90

In [64]:
ord('a')

97

In [65]:
n = ['A', 'z', 'ca', 'c', 'cz', 'Cz', 'CZ', True, False]
print('Before sort ', n)
n.sort() 
print('After sort ', n)

Before sort  ['A', 'z', 'ca', 'c', 'cz', 'Cz', 'CZ', True, False]

TypeError: '<' not supported between instances of 'bool' and 'str'

In [66]:
# every character is represented by a number code 
ord('A')

65

In [68]:
chr(65)

'A'

In [69]:
23 + 87

110

In [70]:
23 + 's'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
's' + 'a'

'sa'

In [72]:
ord(1)

TypeError: ord() expected string of length 1, but int found

In [73]:
ord('1')

49

In [74]:
name = 'Nimisha'
name_list = list(name)

In [76]:
print('Before Reverse', name_list)
name_list.reverse()
print('After Reverse', name_list)

Before Reverse ['N', 'i', 'm', 'i', 's', 'h', 'a']
After Reverse ['a', 'h', 's', 'i', 'm', 'i', 'N']

In [77]:
name_list[ : :-1]

['N', 'i', 'm', 'i', 's', 'h', 'a']

# copy function

In [85]:
basket_list = ['apples', 'oranges', 'grapes', 'pear', 'peaches']

In [86]:
basket_list2 = basket_list

In [87]:
print('Original\n', basket_list)
print('Copy\n ', basket_list2)

Original
 ['apples', 'oranges', 'grapes', 'pear', 'peaches']
Copy
  ['apples', 'oranges', 'grapes', 'pear', 'peaches']

In [88]:
basket_list.extend(['bread', 'meat'])

In [89]:
print('Orginal\n ', basket_list)

Orginal
  ['apples', 'oranges', 'grapes', 'pear', 'peaches', 'bread', 'meat']

In [90]:
print('Copy list\n', basket_list2)

Copy list
 ['apples', 'oranges', 'grapes', 'pear', 'peaches', 'bread', 'meat']

In [91]:
id(basket_list)

140696747961312

In [92]:
id(basket_list2)

140696747961312

In [93]:
# explicit copy function to make keep a copy

In [98]:
basket_list = ['apples', 'oranges', 'grapes', 'pear', 'peaches']

In [99]:
basket_list2 = basket_list # shallow copy creates a copy by doing minimum

In [100]:
basket_list3 = basket_list.copy() # creates a new list # deep copy

In [101]:
id(basket_list)

140696746853952

In [102]:
id(basket_list2)

140696746853952

In [103]:
id(basket_list3)

140696745676304

In [104]:
basket_list.append('changee')

In [106]:
basket_list

['apples', 'oranges', 'grapes', 'pear', 'peaches', 'changee']

In [108]:
basket_list2 # shallow ccopy

['apples', 'oranges', 'grapes', 'pear', 'peaches', 'changee']

In [109]:
basket_list3 # deep copy

['apples', 'oranges', 'grapes', 'pear', 'peaches']

In [111]:
alist.clear()

In [112]:
alist

[]

# 3. Tuples : immutable list like data collections

In [113]:
empty_tuple = () # tuple()
tup_1 = (23)
tup_11 = (23,)
tup_2 = (23,54.76,'string', True)

In [114]:
print('Empty Tuple', empty_tuple, '  Type :', type(empty_tuple))
print('Tup_1 Tuple', tup_1, '  Type :', type(tup_1))
print('Tup_11 Tuple', tup_11, '  Type :', type(tup_11))
print('Tup_2 Tuple', tup_2, '  Type :', type(tup_2))

Empty Tuple ()   Type : <class 'tuple'>
Tup_1 Tuple 23   Type : <class 'int'>
Tup_11 Tuple (23,)   Type : <class 'tuple'>
Tup_2 Tuple (23, 54.76, 'string', True)   Type : <class 'tuple'>

In [116]:
basket_list[-1] = 'blueberries'

In [117]:
basket_list

['apples', 'oranges', 'grapes', 'pear', 'peaches', 'blueberries']

In [120]:
basket_tup = tuple(['apples', 'oranges', 'grapes', 'pear', 'peaches', 'changee'])
# basket_tup = ('apples', 'oranges', 'grapes', 'pear', 'peaches', 'changee')

In [121]:
basket_tup[0]

'apples'

In [122]:
basket_tup[1:9]

('oranges', 'grapes', 'pear', 'peaches', 'changee')

In [123]:
basket_tup[-1] = 'blueberries'

TypeError: 'tuple' object does not support item assignment

In [124]:
# interconversion of tuples <==> list <==> sets

In [ ]:
list()
tuple()
set()

# Access elements in a multidimensional list

In [125]:
alist = [[1,2,3,4,5], ['a', 'b', 'c','d'], ['A', 'B', 'C', 'D'], True]

In [129]:
# 'C'
alist[2][2] = 'NEW'

In [130]:
alist

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], ['A', 'B', 'NEW', 'D'], True]

In [131]:
atup = tuple(alist)
atup

([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], ['A', 'B', 'NEW', 'D'], True)

In [133]:
atup[2][2] = 'C'

In [134]:
atup

([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], ['A', 'B', 'C', 'D'], True)

In [135]:
atup[2]

['A', 'B', 'C', 'D']

# 4. Dictionaries : unordered collection of key value pairs 
    - where keys are separated fromm values using ':'
    - each key value pair is separated using a comma (,)
    - keys are supposed to be immuttable and unique in a dictionary : numbers or strings
    - values : any arbritrary python data object : numbers stt

In [4]:
empty_dict = {} # dict()
dict1 = {1 : 'a' , 2 : 'b' , 3 : 'c' , 'd' :4, 'e' : 5 , 'f' : 6, 'g' : 'great', 8 : 8}

In [5]:
print('Empty Dictionary ',empty_dict)
print('Sample Dictionary', dict1)

Empty Dictionary  {}
Sample Dictionary {1: 'a', 2: 'b', 3: 'c', 'd': 4, 'e': 5, 'f': 6, 'g': 'great', 8: 8}

In [6]:
employee = {'Name' : 'Nimisha Pandey',
            'Age' : 33,
           'Exp' : 7,
           "Desig" : 'LT' }
print('Employee dict ', employee)

Employee dict  {'Name': 'Nimisha Pandey', 'Age': 33, 'Exp': 7, 'Desig': 'LT'}

In [7]:
employee = { 'Name' : 'Nimisha Pandey',
             'Age' : 33,
             'Exp' : 6.5,
             'Designation' : 'Lead Trainer',
            'Name' : 'Mrs Nimisha Pandey'
           }
print('Employee dict', employee)

Employee dict {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 6.5, 'Designation': 'Lead Trainer'}

In [8]:
car = {'brand' : ['Honda','Hyundai', 'Merc', 'BMW'],
      'Type'   : ('Sedan','SUV'),
      'Year'   : 2020}
print(car)

{'brand': ['Honda', 'Hyundai', 'Merc', 'BMW'], 'Type': ('Sedan', 'SUV'), 'Year': 2020}

In [9]:
# access elements in a dictionary

In [10]:
employee.keys()

dict_keys(['Name', 'Age', 'Exp', 'Designation'])

In [11]:
car.keys()

dict_keys(['brand', 'Type', 'Year'])

In [12]:
dict1.keys()

dict_keys([1, 2, 3, 'd', 'e', 'f', 'g', 8])

In [13]:
1 in dict1 # in the keys

True

In [14]:
dict1

{1: 'a', 2: 'b', 3: 'c', 'd': 4, 'e': 5, 'f': 6, 'g': 'great', 8: 8}

In [15]:
'a' in dict1

False

In [19]:
car['brand'].append('Audi')

In [20]:
car

{'brand': ['Honda', 'Hyundai', 'Merc', 'BMW', 'Audi'],
 'Type': ('Sedan', 'SUV'),
 'Year': 2020}

In [21]:
print('Keys in the dictionary ', car.keys())
print('Values in the dictionary ', car.values())
print('Items in the dictionary ', car.items())

Keys in the dictionary  dict_keys(['brand', 'Type', 'Year'])
Values in the dictionary  dict_values([['Honda', 'Hyundai', 'Merc', 'BMW', 'Audi'], ('Sedan', 'SUV'), 2020])
Items in the dictionary  dict_items([('brand', ['Honda', 'Hyundai', 'Merc', 'BMW', 'Audi']), ('Type', ('Sedan', 'SUV')), ('Year', 2020)])

In [ ]:
# items : a list of tuples where in each tuple 1st elemnt is key & 2nd element is the corresponding value

## make changes or update a dicctionary

In [22]:
print('Before Update ', employee)
employee['Organization'] = 'Simplilearn'
print('After Update ', employee)

Before Update  {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 6.5, 'Designation': 'Lead Trainer'}
After Update  {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 6.5, 'Designation': 'Lead Trainer', 'Organization': 'Simplilearn'}

In [23]:
print('Before Update ', employee)
employee['Exp'] = 7.5
print('After Update ', employee)

Before Update  {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 6.5, 'Designation': 'Lead Trainer', 'Organization': 'Simplilearn'}
After Update  {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'Lead Trainer', 'Organization': 'Simplilearn'}

In [24]:
print('Before Update ', employee)
employee.update({'Clients' : ['XXYZ', 'ABC','LMN'], 'Designation':'SME'})
print('After Update ', employee)

Before Update  {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'Lead Trainer', 'Organization': 'Simplilearn'}
After Update  {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'SME', 'Organization': 'Simplilearn', 'Clients': ['XXYZ', 'ABC', 'LMN']}

In [25]:
print('Before Remove', employee)
print('Popped element', employee.pop('Clients'))
print('After Remove', employee)

Before Remove {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'SME', 'Organization': 'Simplilearn', 'Clients': ['XXYZ', 'ABC', 'LMN']}
Popped element ['XXYZ', 'ABC', 'LMN']
After Remove {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'SME', 'Organization': 'Simplilearn'}

In [26]:
print('Before Remove', employee)
print('Popped element', employee.pop('Clients'))
print('After Remove', employee)

Before Remove {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'SME', 'Organization': 'Simplilearn'}

KeyError: 'Clients'

In [27]:
print('Before Remove', employee)
print('Popped element', employee.pop('Clients', 'absent'))
print('After Remove', employee)

Before Remove {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'SME', 'Organization': 'Simplilearn'}
Popped element absent
After Remove {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'SME', 'Organization': 'Simplilearn'}

In [28]:
employee.update({'Clients' : ['XXYZ', 'ABC','LMN'], 'Designation':'SME'})
print('After Update ', employee)

After Update  {'Name': 'Mrs Nimisha Pandey', 'Age': 33, 'Exp': 7.5, 'Designation': 'SME', 'Organization': 'Simplilearn', 'Clients': ['XXYZ', 'ABC', 'LMN']}

In [29]:
employee['Clients']

['XXYZ', 'ABC', 'LMN']

# Brackets : 
    1. ( ) - Parenthesis 
        a. create tuples
        b. to pass arguments / with functions / classes
    2. [ ] - Square brackets 
        a. create list
        b. passing index
    3. { } - Curly brackets
        a. create sets
        b. create dictionaries

In [30]:
# multiple assignment

In [31]:
a, b, c , d = 23, 'two', 'new', 45.888

In [ ]:
a, b, c , d = (23, 'two', 'new', 45.888)

## if no. of variables on left = no. of data on right
## one on assignment

In [32]:
tup1 = (23)

In [33]:
tup1

23

In [34]:
tup2 = (23,)

In [35]:
tup2

(23,)