# DATE TIME FUNCTIONS

### date is object format

In [1]:
import datetime

In [4]:
today = datetime.date(2020, 7, 21 )

In [5]:
today.year

2020

In [6]:
today.month

7

In [7]:
today.day

21

In [8]:
datetime.MAXYEAR

9999

In [9]:
datetime.MINYEAR

1

In [10]:
datetime.datetime.now() # present date & time system

datetime.datetime(2020, 7, 21, 20, 21, 37, 858795)

In [11]:
# utc time 
datetime.datetime.utcnow()

datetime.datetime(2020, 7, 21, 14, 52, 42, 597826)

-> Program composed of modules
-> Modules composed of statements
-> statements composed of expression

In [15]:
??datetime # to get the source code

Object `datetime # to getthe source code ` not found.

In [18]:
year = 1990
month = 4
day = 9
dob = datetime.datetime(year, month, day)

In [19]:
dob

datetime.datetime(1990, 4, 9, 0, 0)

### Date formatting : converts a date object to a string or a string to a date object

In [21]:
datetime.datetime.strftime(dob, '%d - %m - %Y')

'09 - 04 - 1990'

In [22]:
datetime.datetime.strftime(dob, '%B %d, %Y')

'April 09, 1990'

In [24]:
datetime.datetime.strftime(dob, '%A, %B %d, %Y')

'Monday, April 09, 1990'

In [25]:
datetime.datetime.strptime('Monday, April 09, 1990','%A, %B %d, %Y')

datetime.datetime(1990, 4, 9, 0, 0)

In [26]:
age = datetime.datetime.now() - dob

In [27]:
age

datetime.timedelta(days=11061, seconds=75217, microseconds=603834)

In [28]:
age.days

11061

In [29]:
age.total_seconds()

955745617.603834

In [35]:
(age.days * 24 * 60 * 60 )+ 75217

955745617

In [36]:
from dateutil.relativedelta import relativedelta

In [37]:
today = datetime.datetime.now()
relativedelta(today, dob)

relativedelta(years=+30, months=+3, days=+12, hours=+20, minutes=+57, seconds=+26, microseconds=+762377)

In [38]:
# create a time delta object 
# rolling 12 months - last 12 months 
# this year

In [39]:
today

datetime.datetime(2020, 7, 21, 20, 57, 26, 762377)

In [45]:
start = datetime.datetime(2020, 8,20) - relativedelta(months = 12, day = 1)

datetime.datetime(2019, 8, 1, 0, 0)

#  Pandas : data manipulation package

In [46]:
import pandas as pd
import numpy as np

#### 1. Series    : 1 dimensional labelled array like structures which may be heterogenous 
#### 2. Dataframe : 2 dimesnional labelled array like structures which may be heterogenous 
                  : Multiple series merged togetther create a dataframe

In [48]:
info_list = ['Nimisha', 33, 'LT' , 5000]
info_dict = { 'Name' : 'Nimisha', 'Age' : 32, 'Desig': 'LT', 'Sal': 5000}

In [52]:
info_array = np.array(list(info_dict.values()))

In [50]:
info_array

array(dict_values(['Nimisha', 32, 'LT', 5000]), dtype=object)

In [57]:
marks = { 'John' : 34, 'Marry' : 45, 'Joseph' : 43, 'Jack' : 49} 
marks

{'John': 34, 'Marry': 45, 'Joseph': 43, 'Jack': 49}

In [ ]:
# a Series from a dictionary

In [55]:
marks_ser = pd.Series(marks)

In [56]:
marks_ser

John      34
Marry     45
Joseph    43
Jack      49
dtype: int64

In [58]:
marks['John']

34

In [59]:
marks_ser.index

Index(['John', 'Marry', 'Joseph', 'Jack'], dtype='object')

In [60]:
marks_ser.values

array([34, 45, 43, 49])

In [74]:
# get person who scored max marks 
maxi = 0 
pers = ''
for i in marks.keys():
    print(i,marks[i])
    if maxi < marks[i]:
        maxi = marks[i]
        pers = i

John 34
Marry 45
Joseph 43
Jack 49

In [71]:
maxi

49

In [72]:
pers

'Jack'

In [76]:
marks_ser.argmax() # to get the index location

3

In [77]:
marks_ser

John      34
Marry     45
Joseph    43
Jack      49
dtype: int64

In [78]:
marks_ser['Marry']

45

In [79]:
marks_ser[1]

45

In [84]:
marks_ser.index[marks_ser == marks_ser.max()]

Index(['Jack'], dtype='object')

In [86]:
info_ser = pd.Series(info_dict)

In [87]:
info_ser

Name     Nimisha
Age           32
Desig         LT
Sal         5000
dtype: object

In [88]:
info_array

array(['Nimisha', '32', 'LT', '5000'], dtype='<U7')

In [89]:
info_ser['Name']

'Nimisha'

In [90]:
info_ser['Age']

32

In [92]:
ser = pd.Series(['Nimisha', 33, 'LT', 5000, 'Mrs. Nimisha Pandey'], 
               index = ['Name', 'Age', 'Desig', 'Sal', 'Name'])

In [93]:
ser

Name                 Nimisha
Age                       33
Desig                     LT
Sal                     5000
Name     Mrs. Nimisha Pandey
dtype: object

In [94]:
ser['Name']

Name                Nimisha
Name    Mrs. Nimisha Pandey
dtype: object

In [102]:
marks_ser.index[marks_ser == marks_ser.max()]

Index(['Jack'], dtype='object')

In [101]:
marks_ser.index[0]

'John'

In [103]:
ser1 = pd.Series([10,20,30,40,50,60])
ser1

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [104]:
ser1 = pd.Series([10,20,30,40,50,60], index = ['a', 'b', 'c', 'd', 'e', 'f'])
ser1

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [106]:
ser2 = pd.Series([10,20,40,60, 70, 80], index = ['a', 'b', 'd', 'f', 'g', 'h'])
ser2

a    10
b    20
d    40
f    60
g    70
h    80
dtype: int64

In [108]:
add_ser = ser1 + ser2

In [109]:
add_ser.fillna(0)

a     20.0
b     40.0
c      0.0
d     80.0
e      0.0
f    120.0
g      0.0
h      0.0
dtype: float64

In [118]:
(ser1 + ser2).fillna(0)

a     20.0
b     40.0
c      0.0
d     80.0
e      0.0
f    120.0
g      0.0
h      0.0
dtype: float64

In [113]:
ser1.add(ser2, fill_value = 0)

a     20.0
b     40.0
c     30.0
d     80.0
e     50.0
f    120.0
g     70.0
h     80.0
dtype: float64

- in ser 1 g & h are missing so for ser 1 g & h will be assigned 0
- in ser 2 c & e are missing so for ser 2 c & e will be assigned 0

In [115]:
ser1.multiply(ser2, fill_value= 1)

a     100.0
b     400.0
c      30.0
d    1600.0
e      50.0
f    3600.0
g      70.0
h      80.0
dtype: float64

In [117]:
ser1.divide(ser2, fill_value=1)

a     1.000000
b     1.000000
c    30.000000
d     1.000000
e    50.000000
f     1.000000
g     0.014286
h     0.012500
dtype: float64

## Dataframes

# using dictionary

In [119]:
brics = { 'country' : ['Brazil','Russia','India','China','South Africa'],
         'capitals' : ['Brasilia','Moscow','New Delhi','Beijing','Pretoria'],
         'area'  : [8.511, 17.1, 3.287, 9.597, 1.22],
         'population' : [20.93, 14.45, 133.92, 138.64, 5.67],
         'gdp' : [1.0, 1.5, 6.6, 6.9, 1.3]
}
brics

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capitals': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.511, 17.1, 3.287, 9.597, 1.22],
 'population': [20.93, 14.45, 133.92, 138.64, 5.67],
 'gdp': [1.0, 1.5, 6.6, 6.9, 1.3]}

In [122]:
brics['capitals'][brics['country'].index('Russia')]

'Moscow'

In [123]:
pd.Series(brics)

country           [Brazil, Russia, India, China, South Africa]
capitals      [Brasilia, Moscow, New Delhi, Beijing, Pretoria]
area                         [8.511, 17.1, 3.287, 9.597, 1.22]
population                [20.93, 14.45, 133.92, 138.64, 5.67]
gdp                                  [1.0, 1.5, 6.6, 6.9, 1.3]
dtype: object

In [124]:
# keys : column names 
# values : column values 
pd.DataFrame(brics)

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220        5.67  1.3

In [127]:
pd.DataFrame({ 'country' : ['Brazil','Russia','India','China','South Africa'],
  'capitals' : ['Brasilia','Moscow','New Delhi','Beijing','Pretoria'],
  'area'  : [8.511, 17.1, 3.287, 9.597, 1.22],
  'population' : [20.93, 14.45, 133.92, 138.64, None],
  'gdp' : [1.0, 1.5, 6.6, 6.9, 1.3]
})

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220         NaN  1.3

In [129]:
brics_df = pd.DataFrame(brics)
brics_df

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220        5.67  1.3

In [130]:
brics_df = pd.DataFrame(brics, index = ['A','B', 'C', 'D', 'E'])
brics_df

        country   capitals    area  population  gdp
A        Brazil   Brasilia   8.511       20.93  1.0
B        Russia     Moscow  17.100       14.45  1.5
C         India  New Delhi   3.287      133.92  6.6
D         China    Beijing   9.597      138.64  6.9
E  South Africa   Pretoria   1.220        5.67  1.3

In [132]:
brics_df = pd.DataFrame(brics, index = ['A','B', 'C', 'D', 'E'], columns=['country', 'capitals', 'population', 'area', 'gdp'])
brics_df

        country   capitals  population    area  gdp
A        Brazil   Brasilia       20.93   8.511  1.0
B        Russia     Moscow       14.45  17.100  1.5
C         India  New Delhi      133.92   3.287  6.6
D         China    Beijing      138.64   9.597  6.9
E  South Africa   Pretoria        5.67   1.220  1.3

In [133]:
list([34,87, 89])

[34, 87, 89]

    - importing the data from external sources : csv  excel files --> databases 
    - snapshot
    - structure/ info
    - Accessing columns
    - Accessing rows
    - adding columns
    - adding rows
    - drop rows and/or columns
    - managing index : setting or renaming index column labels or row labels 
    - conditional filtering
    - sorting the data
    - merging / concatenation 
    - Statistical analysis : mean median mode min max sd var range ..... frequencies 
    - aggregation / groupby and pivot
    - Handling missing values / duplicates 
    - Visualization

In [ ]:
# get the full information about the arguments in the functions read_csv & read_excel
pd.read_csv()

In [ ]:
# import by setting a working directory

In [134]:
import os

In [135]:
os.getcwd()

'/Users/nimisha/Desktop/Purdue/Python/Weekday_Python'

In [ ]:
'/Users/nimisha/Desktop/Purdue/Python'

In [ ]:
'C:\\Users\\Vishaal Traders\\Documents\\PythonNotebooks\\DS Python _ July 13_Nim\\Codes

In [ ]:
'C:\Users\BADRI\Desktop\Python'

In [ ]:
'\' --> escape character

In [139]:
os.chdir(r'C:\Users\BADRI\Desktop\Python')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\BADRI\\Desktop\\Python'

In [138]:
print('\\Users')

\Users

if \ in path :
- use 'r' before quotes eg. r'C:\Users\BADRI\Desktop\Python'
- use \\ eg.'C:\\Users\\Vishaal Traders\\Documents\\PythonNotebooks\\DS Python _ July 13_Nim\\Codes'
- use instead / eg. '/Users/nimisha/Desktop/Purdue/Python'

In [140]:
os.chdir('/Users/nimisha/Desktop/Purdue/Python')

In [141]:
pd.read_csv('googleplaystore.csv')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [ ]:
# give full path to the file

In [178]:
playstore = pd.read_csv('~/Desktop/Purdue/Python/googleplaystore.csv')

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)

In [ ]:
pd.read_csv()

In [155]:
pd.read_csv('~/Desktop/Purdue/Python/Pharma.csv', header = 'infer', index_col = 0, skip_blank_lines=False)

,Name,Market_Cap,Beta,PE_Ratio,ROE,ROA,Asset_Turnover,Leverage,Rev_Growth,Net_Profit_Margin,Location,Exchange
Symbol,,,,,,,,,,,,
NVS,Novartis AG,96.65,0.19,21.6,17.9,11.2,0.5,0.06,-2.69,22.4,SWITZERLAND,NYSE
BAY,Bayer AG,16.90,1.11,27.9,3.9,1.4,0.6,0.00,-3.17,2.6,GERMANY,NYSE
CHTT,"Chattem, Inc",0.41,0.85,26.0,24.1,4.3,0.6,3.51,6.38,7.5,US,NASDAQ
AVE,Aventis,47.16,0.32,20.1,21.8,7.5,0.6,0.34,26.81,12.9,FRANCE,NYSE
IVX,IVAX Corporation,2.60,0.65,19.9,21.4,6.8,0.6,1.45,13.99,11.0,US,AMEX
PFE,Pfizer Inc,199.47,0.65,23.6,45.6,19.2,0.8,0.16,25.54,25.2,US,NYSE
AZN,AstraZeneca PLC,67.63,0.52,21.5,27.4,15.4,0.9,0.00,15.00,18.0,UK,NYSE
JNJ,Johnson & Johnson,173.93,0.46,28.4,28.6,16.3,0.9,0.10,9.37,17.9,US,NYSE
ABT,Abbott Laboratories,68.44,0.32,24.7,26.4,11.8,0.7,0.42,7.54,16.1,US,NYSE
BMY,Bristol-Myers Squibb Company,51.33,0.50,13.9,34.8,15.1,0.9,0.57,2.70,20.6,US,NYSE
SGP,Schering-Plough Corporation,34.10,0.51,18.9,22.6,13.3,0.8,0.00,8.56,17.6,US,NYSE
AGN,"Allergan, Inc.",7.58,0.41,82.5,12.9,5.5,0.9,0.60,9.16,5.5,CANADA,NYSE
PHA,Pharmacia Corporation,56.24,0.40,56.5,13.5,5.7,0.6,0.35,15.00,7.3,US,NYSE
WPI,"Watson Pharmaceuticals, Inc.",3.26,0.24,18.4,10.2,6.8,0.5,0.20,29.18,15.1,US,NYSE
MRK,"Merck & Co., Inc.",132.56,0.46,18.9,40.6,15.0,1.1,0.28,17.35,14.1,US,NYSE
WYE,Wyeth,48.19,0.63,13.1,54.9,13.4,0.6,1.12,0.36,25.5,US,NYSE
LLY,Eli Lilly and Company,73.84,0.18,27.9,31.0,13.5,0.6,0.53,6.21,23.4,US,NYSE
AHM,Amersham plc,6.30,0.46,20.7,14.9,7.8,0.9,0.27,7.05,11.2,UK,NYSE
ELN,"Elan Corporation, plc",0.78,1.08,3.6,15.1,5.1,0.3,1.07,34.21,13.3,IRELAND,NYSE
MRX,Medicis Pharmaceutical Corporation,1.20,0.75,28.6,11.2,5.4,0.3,0.93,30.37,21.3,US,NYSE
GSK,GlaxoSmithKline plc,122.11,0.35,18.0,62.9,20.3,1.0,0.34,21.87,21.1,UK,NYSE

pd.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)

In [158]:
print('Class of Data : ',type(playstore))

Class of Data :  <class 'pandas.core.frame.DataFrame'>

## Snapshot of the data

In [159]:
playstore.head() # top 5 rows

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [161]:
playstore.tail() # bottom 5 rows

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [162]:
playstore.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

## Structural Information

In [164]:
print('Shape of Dataframe   :', playstore.shape)
print('Row Labels (Index)   :', playstore.index)
print('Column/Variable names:', playstore.columns)
print('DataType for each column :\n', playstore.dtypes, sep ='\n')

Shape of Dataframe   : (10841, 13)
Row Labels (Index)   : RangeIndex(start=0, stop=10841, step=1)
Column/Variable names: Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')
DataType for each column :

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [165]:
playstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

# Explore the data

# Accessing Columns

In [166]:
# to access a single column

In [167]:
playstore.App

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite â€“ FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

In [168]:
playstore['App']

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite â€“ FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

In [169]:
playstore.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [180]:
playstore['Last Updated']

0         January 7, 2018
1        January 15, 2018
2          August 1, 2018
3            June 8, 2018
4           June 20, 2018
               ...
10836       July 25, 2017
10837        July 6, 2018
10838    January 20, 2017
10839    January 19, 2015
10840       July 25, 2018
Name: Last Updated, Length: 10841, dtype: object

In [171]:
x = 'Last Updated'
x

'Last Updated'

In [173]:
x.replace(' ', '_').lower()

'last_updated'

In [184]:
playstore.columns = playstore.columns.str.replace(' ','_').str.lower()

In [185]:
playstore.columns

Index(['app', 'category', 'rating', 'reviews', 'size', 'installs', 'type',
       'price', 'content_rating', 'genres', 'last_updated', 'current_ver',
       'android_ver'],
      dtype='object')

## Multiple Columns

In [186]:
playstore[['app', 'category','rating', 'reviews']]

,app,category,rating,reviews
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159
1,Coloring book moana,ART_AND_DESIGN,3.9,967
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967
...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4
10838,Parkinson Exercices FR,MEDICAL,NaN,3
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307

## Accessing Rows

In [ ]:
#### Slicing

In [191]:
playstore[:4]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up

In [192]:
playstore[34:44]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
34,I Creative Idea,ART_AND_DESIGN,4.7,353,4.2M,"10,000+",Free,0,Teen,Art & Design,"April 27, 2018",1.6,4.1 and up
35,How to draw Ladybug and Cat Noir,ART_AND_DESIGN,3.8,564,9.2M,"100,000+",Free,0,Everyone,Art & Design,"July 11, 2018",2.1,4.1 and up
36,UNICORN - Color By Number & Pixel Art Coloring,ART_AND_DESIGN,4.7,8145,24M,"500,000+",Free,0,Everyone,Art & Design;Creativity,"August 2, 2018",1.0.9,4.4 and up
37,Floor Plan Creator,ART_AND_DESIGN,4.1,36639,Varies with device,"5,000,000+",Free,0,Everyone,Art & Design,"July 14, 2018",Varies with device,2.3.3 and up
38,PIP Camera - PIP Collage Maker,ART_AND_DESIGN,4.7,158,11M,"10,000+",Free,0,Everyone,Art & Design,"November 29, 2017",1.3,4.0.3 and up
39,How To Color Disney Princess - Coloring Pages,ART_AND_DESIGN,4.0,591,9.4M,"500,000+",Free,0,Everyone,Art & Design,"March 31, 2018",1,4.0 and up
40,Drawing Clothes Fashion Ideas,ART_AND_DESIGN,4.2,117,15M,"10,000+",Free,0,Everyone,Art & Design,"July 20, 2018",2.0.1,4.0.3 and up
41,Sad Poetry Photo Frames 2018,ART_AND_DESIGN,4.5,176,10M,"100,000+",Free,0,Everyone,Art & Design,"April 2, 2018",1.0,4.0.3 and up
42,Textgram - write on photos,ART_AND_DESIGN,4.4,295221,Varies with device,"10,000,000+",Free,0,Everyone,Art & Design,"July 30, 2018",Varies with device,Varies with device
43,Paint Splash!,ART_AND_DESIGN,3.8,2206,1.2M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"April 15, 2018",1.46,4.1 and up

In [193]:
playstore[34:44:2]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
34,I Creative Idea,ART_AND_DESIGN,4.7,353,4.2M,"10,000+",Free,0,Teen,Art & Design,"April 27, 2018",1.6,4.1 and up
36,UNICORN - Color By Number & Pixel Art Coloring,ART_AND_DESIGN,4.7,8145,24M,"500,000+",Free,0,Everyone,Art & Design;Creativity,"August 2, 2018",1.0.9,4.4 and up
38,PIP Camera - PIP Collage Maker,ART_AND_DESIGN,4.7,158,11M,"10,000+",Free,0,Everyone,Art & Design,"November 29, 2017",1.3,4.0.3 and up
40,Drawing Clothes Fashion Ideas,ART_AND_DESIGN,4.2,117,15M,"10,000+",Free,0,Everyone,Art & Design,"July 20, 2018",2.0.1,4.0.3 and up
42,Textgram - write on photos,ART_AND_DESIGN,4.4,295221,Varies with device,"10,000,000+",Free,0,Everyone,Art & Design,"July 30, 2018",Varies with device,Varies with device

In [194]:
# iloc : index location
# loc : index label

In [196]:
playstore.index

RangeIndex(start=0, stop=10841, step=1)

In [198]:
playstore.index = list(range(1, len(playstore)+1))

In [200]:
playstore.tail()

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
10837,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10838,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10840,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10841,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [202]:
playstore.iloc[0] # as a series

app               Photo Editor & Candy Camera & Grid & ScrapBook
category                                          ART_AND_DESIGN
rating                                                       4.1
reviews                                                      159
size                                                         19M
installs                                                 10,000+
type                                                        Free
price                                                          0
content_rating                                          Everyone
genres                                              Art & Design
last_updated                                     January 7, 2018
current_ver                                                1.0.0
android_ver                                         4.0.3 and up
Name: 1, dtype: object

In [203]:
playstore.loc[1]

app               Photo Editor & Candy Camera & Grid & ScrapBook
category                                          ART_AND_DESIGN
rating                                                       4.1
reviews                                                      159
size                                                         19M
installs                                                 10,000+
type                                                        Free
price                                                          0
content_rating                                          Everyone
genres                                              Art & Design
last_updated                                     January 7, 2018
current_ver                                                1.0.0
android_ver                                         4.0.3 and up
Name: 1, dtype: object

In [206]:
brics_df.iloc[2]

country           India
capitals      New Delhi
population       133.92
area              3.287
gdp                 6.6
Name: C, dtype: object

In [207]:
brics_df.loc['C']

country           India
capitals      New Delhi
population       133.92
area              3.287
gdp                 6.6
Name: C, dtype: object

In [210]:
brics_df.index = [0, 1, 2, 3, 4]

In [212]:
brics_df

        country   capitals  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3

In [214]:
sorted_data = brics_df.sort_values('population')

In [215]:
brics_df

        country   capitals  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3

In [216]:
sorted_data

        country   capitals  population    area  gdp
4  South Africa   Pretoria        5.67   1.220  1.3
1        Russia     Moscow       14.45  17.100  1.5
0        Brazil   Brasilia       20.93   8.511  1.0
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9

In [217]:
sorted_data.iloc[0]

country       South Africa
capitals          Pretoria
population            5.67
area                  1.22
gdp                    1.3
Name: 4, dtype: object

In [218]:
sorted_data.loc[2]

country           India
capitals      New Delhi
population       133.92
area              3.287
gdp                 6.6
Name: 2, dtype: object

In [220]:
playstore.iloc[[2,7,99,100,8345]]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
3,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
8,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
100,"ipsy: Makeup, Beauty, and Tips",BEAUTY,4.9,49790,14M,"1,000,000+",Free,0,Everyone,Beauty,"November 9, 2017",2.3.0,4.1 and up
101,Natural recipes for your beauty,BEAUTY,4.7,1150,9.8M,"100,000+",Free,0,Everyone,Beauty,"May 15, 2018",4.0,4.1 and up
8346,ProconLegis-DF,TOOLS,NaN,2,14M,5+,Free,0,Everyone,Tools,"July 31, 2018",1.0,4.4 and up

In [221]:
playstore.loc[[2,7,99,100,8345]]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
2,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
7,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
99,Hush - Beauty for Everyone,BEAUTY,4.7,18900,17M,"500,000+",Free,0,Everyone,Beauty,"August 2, 2018",6.10.1,5.0 and up
100,"ipsy: Makeup, Beauty, and Tips",BEAUTY,4.9,49790,14M,"1,000,000+",Free,0,Everyone,Beauty,"November 9, 2017",2.3.0,4.1 and up
8345,ElejaOnline DF,BUSINESS,NaN,0,3.0M,50+,Free,0,Everyone,Business,"June 18, 2018",1.0.0,4.1 and up

In [223]:
playstore.loc[4, 'app']

'Sketch - Draw & Paint'

In [230]:
playstore.iloc[1, 0]

'Coloring book moana'

In [226]:
playstore.loc[0:5, 'app' : 'reviews']

,app,category,rating,reviews
1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159
2,Coloring book moana,ART_AND_DESIGN,3.9,967
3,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510
4,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644
5,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967

In [227]:
playstore.loc[[2,5,6,7], 'app' : 'reviews']

                                       app        category  rating reviews
2                      Coloring book moana  ART_AND_DESIGN     3.9     967
5    Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN     4.3     967
6               Paper flowers instructions  ART_AND_DESIGN     4.4     167
7  Smoke Effect Photo Maker - Smoke Editor  ART_AND_DESIGN     3.8     178

### Rename Rows &/or Columns

In [232]:
brics_df.rename(columns = {'country' : 'Country', 'capitals':'Capital'})
# this change is creating a new dataframe

        Country    Capital  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3

In [233]:
brics_df

        country   capitals  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3

In [234]:
brics_df.rename(columns = {'country' : 'Country', 'capitals':'Capital'}, inplace = True)

In [236]:
type(brics_df)

pandas.core.frame.DataFrame

In [237]:
brics_df.rename(index = {0: 'B', 4 : 'S'}, inplace = True)

In [238]:
brics_df

        Country    Capital  population    area  gdp
B        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
S  South Africa   Pretoria        5.67   1.220  1.3

In [ ]:
Axis = 0 : Column wise operation 
Axis = 1 : Row wise operation

In [247]:
brics_df.Capital

B     Brasilia
1       Moscow
2    New Delhi
3      Beijing
S     Pretoria
Name: Capital, dtype: object

In [246]:
brics_df.rename({1: 'R', 2 : 'I'},  axis = 0)

        Country    Capital  population    area  gdp
B        Brazil   Brasilia       20.93   8.511  1.0
R        Russia     Moscow       14.45  17.100  1.5
I         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
S  South Africa   Pretoria        5.67   1.220  1.3

In [240]:
brics_df.rename({'area': 'Area'},  axis = 1)

        Country    Capital  population    Area  gdp
B        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
S  South Africa   Pretoria        5.67   1.220  1.3

In [249]:
playstore.set_index('app')

,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
app,,,,,,,,,,,,
Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
"U Launcher Lite â€“ FREE Live Cool Themes, Hide Apps",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [250]:
brics_df.set_index('Country')

                Capital  population    area  gdp
Country
Brazil         Brasilia       20.93   8.511  1.0
Russia           Moscow       14.45  17.100  1.5
India         New Delhi      133.92   3.287  6.6
China           Beijing      138.64   9.597  6.9
South Africa   Pretoria        5.67   1.220  1.3

In [251]:
brics_df.set_index('Country', inplace = True)

In [252]:
brics_df

                Capital  population    area  gdp
Country
Brazil         Brasilia       20.93   8.511  1.0
Russia           Moscow       14.45  17.100  1.5
India         New Delhi      133.92   3.287  6.6
China           Beijing      138.64   9.597  6.9
South Africa   Pretoria        5.67   1.220  1.3

In [253]:
brics_df.loc['Brazil']

Capital       Brasilia
population       20.93
area             8.511
gdp                  1
Name: Brazil, dtype: object

In [254]:
brics_df.Country

AttributeError: 'DataFrame' object has no attribute 'Country'

In [256]:
brics_df.reset_index()

        Country    Capital  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3

In [257]:
brics_df

                Capital  population    area  gdp
Country
Brazil         Brasilia       20.93   8.511  1.0
Russia           Moscow       14.45  17.100  1.5
India         New Delhi      133.92   3.287  6.6
China           Beijing      138.64   9.597  6.9
South Africa   Pretoria        5.67   1.220  1.3

In [258]:
brics_df.reset_index(inplace = True)

In [259]:
brics_df

        Country    Capital  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3

In [260]:
brics_df.reset_index(inplace = True)

In [261]:
brics_df

   index       Country    Capital  population    area  gdp
0      0        Brazil   Brasilia       20.93   8.511  1.0
1      1        Russia     Moscow       14.45  17.100  1.5
2      2         India  New Delhi      133.92   3.287  6.6
3      3         China    Beijing      138.64   9.597  6.9
4      4  South Africa   Pretoria        5.67   1.220  1.3

In [264]:
sorted_data

        country   capitals  population    area  gdp
4  South Africa   Pretoria        5.67   1.220  1.3
1        Russia     Moscow       14.45  17.100  1.5
0        Brazil   Brasilia       20.93   8.511  1.0
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9

In [263]:
sorted_data.reset_index()

   index       country   capitals  population    area  gdp
0      4  South Africa   Pretoria        5.67   1.220  1.3
1      1        Russia     Moscow       14.45  17.100  1.5
2      0        Brazil   Brasilia       20.93   8.511  1.0
3      2         India  New Delhi      133.92   3.287  6.6
4      3         China    Beijing      138.64   9.597  6.9

In [266]:
sorted_data.reset_index(drop = True)

        country   capitals  population    area  gdp
0  South Africa   Pretoria        5.67   1.220  1.3
1        Russia     Moscow       14.45  17.100  1.5
2        Brazil   Brasilia       20.93   8.511  1.0
3         India  New Delhi      133.92   3.287  6.6
4         China    Beijing      138.64   9.597  6.9

In [268]:
sorted_data

        country   capitals  population    area  gdp
4  South Africa   Pretoria        5.67   1.220  1.3
1        Russia     Moscow       14.45  17.100  1.5
0        Brazil   Brasilia       20.93   8.511  1.0
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9

In [269]:
sorted_data.reset_index(drop = True, inplace = True)

In [270]:
sorted_data

        country   capitals  population    area  gdp
0  South Africa   Pretoria        5.67   1.220  1.3
1        Russia     Moscow       14.45  17.100  1.5
2        Brazil   Brasilia       20.93   8.511  1.0
3         India  New Delhi      133.92   3.287  6.6
4         China    Beijing      138.64   9.597  6.9

In [271]:
playstore.set_index('app')

,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
app,,,,,,,,,,,,
Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
"U Launcher Lite â€“ FREE Live Cool Themes, Hide Apps",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

# Add new Columns to dataframe

In [274]:
playstore['New'] = ' '

In [275]:
playstore.head()

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver,New
1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,
2,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,
3,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,
4,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,
5,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,

In [277]:
playstore['cat&gen'] = playstore.category + playstore.genres

In [278]:
playstore.head()

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver,New,cat&gen
1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,,ART_AND_DESIGNArt & Design
2,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,,ART_AND_DESIGNArt & Design;Pretend Play
3,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,,ART_AND_DESIGNArt & Design
4,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,,ART_AND_DESIGNArt & Design
5,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,,ART_AND_DESIGNArt & Design;Creativity

In [280]:
brics_df['pop_density'] = brics_df.population / brics_df.area

In [281]:
brics_df

   index       Country    Capital  population    area  gdp  pop_density
0      0        Brazil   Brasilia       20.93   8.511  1.0     2.459170
1      1        Russia     Moscow       14.45  17.100  1.5     0.845029
2      2         India  New Delhi      133.92   3.287  6.6    40.742318
3      3         China    Beijing      138.64   9.597  6.9    14.446181
4      4  South Africa   Pretoria        5.67   1.220  1.3     4.647541

In [308]:
brics_df.assign(pop_des =list(brics_df.population / brics_df.area),
                pop = brics_df.population, 
                index = 'A')

,Labels,index,Country,L,L,Capital,population,area,gdp,pop_density,pop_des,pop
0,B,A,Brazil,B,B,Brasilia,20.93,8.511,1.0,2.459170,2.459170,20.93
0,R,A,Russia,R,R,Moscow,14.45,17.100,1.5,0.845029,0.845029,14.45
2,I,A,India,I,I,New Delhi,133.92,3.287,6.6,40.742318,40.742318,133.92
3,C,A,China,C,C,Beijing,138.64,9.597,6.9,14.446181,14.446181,138.64
4,S,A,South Africa,S,S,Pretoria,5.67,1.220,1.3,4.647541,4.647541,5.67

### to adda ccolumn at in the middle : column insertion

In [294]:
brics_df.insert(0 , 'Labels' ,['B', 'R','I', 'C', 'S'] )

In [295]:
brics_df

  Labels  index       Country    Capital  population    area  gdp  pop_density
0      B      0        Brazil   Brasilia       20.93   8.511  1.0     2.459170
1      R      1        Russia     Moscow       14.45  17.100  1.5     0.845029
2      I      2         India  New Delhi      133.92   3.287  6.6    40.742318
3      C      3         China    Beijing      138.64   9.597  6.9    14.446181
4      S      4  South Africa   Pretoria        5.67   1.220  1.3     4.647541

In [296]:
brics_df.insert(3 , 'L' ,['B', 'R','I', 'C', 'S'] )

In [297]:
brics_df

,Labels,index,Country,L,Capital,population,area,gdp,pop_density
0,B,0,Brazil,B,Brasilia,20.93,8.511,1.0,2.459170
1,R,1,Russia,R,Moscow,14.45,17.100,1.5,0.845029
2,I,2,India,I,New Delhi,133.92,3.287,6.6,40.742318
3,C,3,China,C,Beijing,138.64,9.597,6.9,14.446181
4,S,4,South Africa,S,Pretoria,5.67,1.220,1.3,4.647541

In [299]:
brics_df.insert(3 , 'L' ,['B', 'R','I', 'C', 'S'] , allow_duplicates=True)

In [300]:
brics_df

,Labels,index,Country,L,L,Capital,population,area,gdp,pop_density
0,B,0,Brazil,B,B,Brasilia,20.93,8.511,1.0,2.459170
1,R,1,Russia,R,R,Moscow,14.45,17.100,1.5,0.845029
2,I,2,India,I,I,New Delhi,133.92,3.287,6.6,40.742318
3,C,3,China,C,C,Beijing,138.64,9.597,6.9,14.446181
4,S,4,South Africa,S,S,Pretoria,5.67,1.220,1.3,4.647541

In [301]:
brics_df.index = [0,0,2,3,4]

In [302]:
brics_df

,Labels,index,Country,L,L,Capital,population,area,gdp,pop_density
0,B,0,Brazil,B,B,Brasilia,20.93,8.511,1.0,2.459170
0,R,1,Russia,R,R,Moscow,14.45,17.100,1.5,0.845029
2,I,2,India,I,I,New Delhi,133.92,3.287,6.6,40.742318
3,C,3,China,C,C,Beijing,138.64,9.597,6.9,14.446181
4,S,4,South Africa,S,S,Pretoria,5.67,1.220,1.3,4.647541

In [303]:
brics_df.loc[[0]]

  Labels  index Country  L  L   Capital  population    area  gdp  pop_density
0      B      0  Brazil  B  B  Brasilia       20.93   8.511  1.0     2.459170
0      R      1  Russia  R  R    Moscow       14.45  17.100  1.5     0.845029

In [307]:
brics_df.loc[:, 'L']

   L  L
0  B  B
0  R  R
2  I  I
3  C  C
4  S  S

## append

In [ ]:
df1.append(df2)

In [310]:
df1 = brics_df[:-1]

In [311]:
df2 = brics_df.iloc[-1]

In [312]:
df1

  Labels  index Country  L  L    Capital  population    area  gdp  pop_density
0      B      0  Brazil  B  B   Brasilia       20.93   8.511  1.0     2.459170
0      R      1  Russia  R  R     Moscow       14.45  17.100  1.5     0.845029
2      I      2   India  I  I  New Delhi      133.92   3.287  6.6    40.742318
3      C      3   China  C  C    Beijing      138.64   9.597  6.9    14.446181

In [313]:
df2

Labels                    S
index                     4
Country        South Africa
L                         S
L                         S
Capital            Pretoria
population             5.67
area                   1.22
gdp                     1.3
pop_density         4.64754
Name: 4, dtype: object

In [314]:
df1.append(df2)

,Labels,index,Country,L,L,Capital,population,area,gdp,pop_density
0,B,0,Brazil,B,B,Brasilia,20.93,8.511,1.0,2.459170
0,R,1,Russia,R,R,Moscow,14.45,17.100,1.5,0.845029
2,I,2,India,I,I,New Delhi,133.92,3.287,6.6,40.742318
3,C,3,China,C,C,Beijing,138.64,9.597,6.9,14.446181
4,S,4,South Africa,S,S,Pretoria,5.67,1.220,1.3,4.647541

In [317]:
df1 = playstore.iloc[:4, [0,1, 3, 5]]

In [318]:
df2 = playstore.iloc[4:6, [0,1,2,4]]

In [319]:
df1

,app,category,reviews,installs
1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,159,"10,000+"
2,Coloring book moana,ART_AND_DESIGN,967,"500,000+"
3,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,87510,"5,000,000+"
4,Sketch - Draw & Paint,ART_AND_DESIGN,215644,"50,000,000+"

In [320]:
df2

                                     app        category  rating  size
5  Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN     4.3  2.8M
6             Paper flowers instructions  ART_AND_DESIGN     4.4  5.6M

In [321]:
df1.append(df2)

,app,category,reviews,installs,rating,size
1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,159,"10,000+",NaN,NaN
2,Coloring book moana,ART_AND_DESIGN,967,"500,000+",NaN,NaN
3,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,87510,"5,000,000+",NaN,NaN
4,Sketch - Draw & Paint,ART_AND_DESIGN,215644,"50,000,000+",NaN,NaN
5,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,NaN,NaN,4.3,2.8M
6,Paper flowers instructions,ART_AND_DESIGN,NaN,NaN,4.4,5.6M

In [322]:
# Dropping rows & columns

In [323]:
brics_df

,Labels,index,Country,L,L,Capital,population,area,gdp,pop_density
0,B,0,Brazil,B,B,Brasilia,20.93,8.511,1.0,2.459170
0,R,1,Russia,R,R,Moscow,14.45,17.100,1.5,0.845029
2,I,2,India,I,I,New Delhi,133.92,3.287,6.6,40.742318
3,C,3,China,C,C,Beijing,138.64,9.597,6.9,14.446181
4,S,4,South Africa,S,S,Pretoria,5.67,1.220,1.3,4.647541

In [324]:
brics_df.drop(index = 0)

,Labels,index,Country,L,L,Capital,population,area,gdp,pop_density
2,I,2,India,I,I,New Delhi,133.92,3.287,6.6,40.742318
3,C,3,China,C,C,Beijing,138.64,9.597,6.9,14.446181
4,S,4,South Africa,S,S,Pretoria,5.67,1.220,1.3,4.647541

In [325]:
brics_df.drop(columns= ['L'])

  Labels  index       Country    Capital  population    area  gdp  pop_density
0      B      0        Brazil   Brasilia       20.93   8.511  1.0     2.459170
0      R      1        Russia     Moscow       14.45  17.100  1.5     0.845029
2      I      2         India  New Delhi      133.92   3.287  6.6    40.742318
3      C      3         China    Beijing      138.64   9.597  6.9    14.446181
4      S      4  South Africa   Pretoria        5.67   1.220  1.3     4.647541

In [326]:
brics_df.drop(index = 0, columns = 'L')

  Labels  index       Country    Capital  population   area  gdp  pop_density
2      I      2         India  New Delhi      133.92  3.287  6.6    40.742318
3      C      3         China    Beijing      138.64  9.597  6.9    14.446181
4      S      4  South Africa   Pretoria        5.67  1.220  1.3     4.647541

## duplicates or Missing values

In [328]:
(playstore.duplicated()).any()

True

In [330]:
playstore[playstore.duplicated()]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver,New,cat&gen
230,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up,,BUSINESSBusiness
237,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device,,BUSINESSBusiness
240,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up,,BUSINESSBusiness
257,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up,,BUSINESSBusiness
262,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up,,BUSINESSBusiness
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8644,Wunderlist: To-Do List & Tasks,PRODUCTIVITY,4.6,404610,Varies with device,"10,000,000+",Free,0,Everyone,Productivity,"April 6, 2018",Varies with device,Varies with device,,PRODUCTIVITYProductivity
8655,"TickTick: To Do List with Reminder, Day Planner",PRODUCTIVITY,4.6,25370,Varies with device,"1,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device,,PRODUCTIVITYProductivity
8659,ColorNote Notepad Notes,PRODUCTIVITY,4.6,2401017,Varies with device,"100,000,000+",Free,0,Everyone,Productivity,"June 27, 2018",Varies with device,Varies with device,,PRODUCTIVITYProductivity
10050,Airway Ex - Intubate. Anesthetize. Train.,MEDICAL,4.3,123,86M,"10,000+",Free,0,Everyone,Medical,"June 1, 2018",0.6.88,5.0 and up,,MEDICALMedical
10769,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up,,MEDICALMedical

In [331]:
# No. of duplicated rows :
playstore.duplicated().sum()

483

In [344]:
brics_df.drop(columns = ['Labels', 'index', 'pop_density', 'L'], inplace = True)

brics_df.reset_index(drop = True, inplace = True)

bb = brics_df.append(brics_df[:3])

bb.reset_index(drop = True, inplace = True)

In [354]:
bb

        Country    Capital  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       14.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3
5        Brazil   Brasilia       20.93   8.511  1.0
6        Russia     Moscow       14.45  17.100  1.5
7         India  New Delhi      133.92   3.287  6.6

In [350]:
bb.duplicated(keep = 'last')

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [351]:
bb.duplicated().sum()

3

In [352]:
bb[bb.duplicated()]

  Country    Capital  population    area  gdp
5  Brazil   Brasilia       20.93   8.511  1.0
6  Russia     Moscow       14.45  17.100  1.5
7   India  New Delhi      133.92   3.287  6.6

In [355]:
bb.drop_duplicates(keep = 'last')

        Country    Capital  population    area  gdp
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3
5        Brazil   Brasilia       20.93   8.511  1.0
6        Russia     Moscow       14.45  17.100  1.5
7         India  New Delhi      133.92   3.287  6.6

In [358]:
bb.loc[1,'population'] = 15.45

In [363]:
bb

        Country    Capital  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       15.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3
5        Brazil   Brasilia       20.93   8.511  1.0
6        Russia     Moscow       14.45  17.100  1.5
7         India  New Delhi      133.92   3.287  6.6

In [364]:
bb.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
dtype: bool

In [362]:
bb.duplicated(subset='Country')

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

In [365]:
bb

        Country    Capital  population    area  gdp
0        Brazil   Brasilia       20.93   8.511  1.0
1        Russia     Moscow       15.45  17.100  1.5
2         India  New Delhi      133.92   3.287  6.6
3         China    Beijing      138.64   9.597  6.9
4  South Africa   Pretoria        5.67   1.220  1.3
5        Brazil   Brasilia       20.93   8.511  1.0
6        Russia     Moscow       14.45  17.100  1.5
7         India  New Delhi      133.92   3.287  6.6

In [366]:
bb.duplicated('Country')

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

In [368]:
bb.duplicated(['Country', 'Capital'])

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

In [ ]:
# play store data drop duplicated ???
- drop duplicates from play store & then reset the index values

In [371]:
playstore.drop_duplicates(ignore_index=True, inplace = True)

In [372]:
playstore.index

RangeIndex(start=0, stop=10358, step=1)

In [ ]:
playstore.drop_duplicates(inplace = True)
playstore.reset_index(inplace = True )

In [373]:
import sys

In [374]:
sys.version

'3.7.6 (default, Jan  8 2020, 13:42:34) \n[Clang 4.0.1 (tags/RELEASE_401/final)]'

In [375]:
# no. of unique values of a ccolumn :
playstore.category.nunique()

34

In [376]:
playstore.category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

## how do we look for a specific row ???

In [378]:
playstore[playstore.category == '1.9']

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver,New,cat&gen
9990,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,,"1.9February 11, 2018"

In [ ]:
# drop this row 
# correct this data : ???? Home work

In [379]:
playstore.drop(index = 9990, inplace = True)

In [382]:
playstore[playstore.rating >= 4.5].shape

(2815, 15)

In [ ]:
playstore[playstore.rating >= 4.5].shape

In [ ]:
# Missing Values :