# DATE TIME FUNCTIONS

### date is object format

In [ ]:
import datetime

In [ ]:
today = datetime.date(2020, 7, 21 )

In [ ]:
today.year

In [ ]:
today.month

In [ ]:
today.day

In [ ]:
datetime.MAXYEAR

In [ ]:
datetime.MINYEAR

In [ ]:
datetime.datetime.now() # present date & time system

In [ ]:
# utc time 
datetime.datetime.utcnow()

-> Program composed of modules
-> Modules composed of statements
-> statements composed of expression

In [ ]:
??datetime # to get the source code

In [ ]:
year = 1990
month = 4
day = 9
dob = datetime.datetime(year, month, day)

In [ ]:
dob

### Date formatting : converts a date object to a string or a string to a date object

In [ ]:
datetime.datetime.strftime(dob, '%d - %m - %Y')

In [ ]:
datetime.datetime.strftime(dob, '%B %d, %Y')

In [ ]:
datetime.datetime.strftime(dob, '%A, %B %d, %Y')

In [ ]:
datetime.datetime.strptime('Monday, April 09, 1990','%A, %B %d, %Y')

In [ ]:
age = datetime.datetime.now() - dob

In [ ]:
age

In [ ]:
age.days

In [ ]:
age.total_seconds()

In [ ]:
(age.days * 24 * 60 * 60 )+ 75217

In [ ]:
from dateutil.relativedelta import relativedelta

In [ ]:
today = datetime.datetime.now()
relativedelta(today, dob)

In [ ]:
# create a time delta object 
# rolling 12 months - last 12 months 
# this year

In [ ]:
today

In [ ]:
start = datetime.datetime(2020, 8,20) - relativedelta(months = 12, day = 1)

#  Pandas : data manipulation package

In [2]:
import pandas as pd
import numpy as np

#### 1. Series    : 1 dimensional labelled array like structures which may be heterogenous 
#### 2. Dataframe : 2 dimesnional labelled array like structures which may be heterogenous 
                  : Multiple series merged togetther create a dataframe

In [3]:
info_list = ['Nimisha', 33, 'LT' , 5000]
info_dict = { 'Name' : 'Nimisha', 'Age' : 32, 'Desig': 'LT', 'Sal': 5000}

In [4]:
info_array = np.array(list(info_dict.values()))

In [5]:
info_array

array(['Nimisha', '32', 'LT', '5000'], dtype='<U7')

In [6]:
marks = { 'John' : 34, 'Marry' : 45, 'Joseph' : 43, 'Jack' : 49} 
marks

{'John': 34, 'Marry': 45, 'Joseph': 43, 'Jack': 49}

In [7]:
# a Series from a dictionary

In [8]:
marks_ser = pd.Series(marks)

In [9]:
marks_ser

John      34
Marry     45
Joseph    43
Jack      49
dtype: int64

In [10]:
marks['John']

34

In [11]:
marks_ser.index

Index(['John', 'Marry', 'Joseph', 'Jack'], dtype='object')

In [12]:
marks_ser.values

array([34, 45, 43, 49])

In [13]:
# get person who scored max marks 
maxi = 0 
pers = ''
for i in marks.keys():
    print(i,marks[i])
    if maxi < marks[i]:
        maxi = marks[i]
        pers = i

John 34
Marry 45
Joseph 43
Jack 49

In [14]:
maxi

49

In [15]:
pers

'Jack'

In [16]:
marks_ser.argmax() # to get the index location

3

In [17]:
marks_ser

John      34
Marry     45
Joseph    43
Jack      49
dtype: int64

In [18]:
marks_ser['Marry']

45

In [19]:
marks_ser[1]

45

In [20]:
marks_ser.index[marks_ser == marks_ser.max()]

Index(['Jack'], dtype='object')

In [21]:
info_ser = pd.Series(info_dict)

In [22]:
info_ser

Name     Nimisha
Age           32
Desig         LT
Sal         5000
dtype: object

In [23]:
info_array

array(['Nimisha', '32', 'LT', '5000'], dtype='<U7')

In [24]:
info_ser['Name']

'Nimisha'

In [25]:
info_ser['Age']

32

In [26]:
ser = pd.Series(['Nimisha', 33, 'LT', 5000, 'Mrs. Nimisha Pandey'], 
               index = ['Name', 'Age', 'Desig', 'Sal', 'Name'])

In [27]:
ser

Name                 Nimisha
Age                       33
Desig                     LT
Sal                     5000
Name     Mrs. Nimisha Pandey
dtype: object

In [28]:
ser['Name']

Name                Nimisha
Name    Mrs. Nimisha Pandey
dtype: object

In [29]:
marks_ser.index[marks_ser == marks_ser.max()]

Index(['Jack'], dtype='object')

In [30]:
marks_ser.index[0]

'John'

In [31]:
ser1 = pd.Series([10,20,30,40,50,60])
ser1

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [32]:
ser1 = pd.Series([10,20,30,40,50,60], index = ['a', 'b', 'c', 'd', 'e', 'f'])
ser1

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [33]:
ser2 = pd.Series([10,20,40,60, 70, 80], index = ['a', 'b', 'd', 'f', 'g', 'h'])
ser2

a    10
b    20
d    40
f    60
g    70
h    80
dtype: int64

In [34]:
add_ser = ser1 + ser2

In [35]:
add_ser.fillna(0)

a     20.0
b     40.0
c      0.0
d     80.0
e      0.0
f    120.0
g      0.0
h      0.0
dtype: float64

In [36]:
(ser1 + ser2).fillna(0)

a     20.0
b     40.0
c      0.0
d     80.0
e      0.0
f    120.0
g      0.0
h      0.0
dtype: float64

In [37]:
ser1.add(ser2, fill_value = 0)

a     20.0
b     40.0
c     30.0
d     80.0
e     50.0
f    120.0
g     70.0
h     80.0
dtype: float64

- in ser 1 g & h are missing so for ser 1 g & h will be assigned 0
- in ser 2 c & e are missing so for ser 2 c & e will be assigned 0

In [38]:
ser1.multiply(ser2, fill_value= 1)

a     100.0
b     400.0
c      30.0
d    1600.0
e      50.0
f    3600.0
g      70.0
h      80.0
dtype: float64

In [39]:
ser1.divide(ser2, fill_value=1)

a     1.000000
b     1.000000
c    30.000000
d     1.000000
e    50.000000
f     1.000000
g     0.014286
h     0.012500
dtype: float64

## Dataframes

# using dictionary

In [40]:
brics = { 'country' : ['Brazil','Russia','India','China','South Africa'],
         'capitals' : ['Brasilia','Moscow','New Delhi','Beijing','Pretoria'],
         'area'  : [8.511, 17.1, 3.287, 9.597, 1.22],
         'population' : [20.93, 14.45, 133.92, 138.64, 5.67],
         'gdp' : [1.0, 1.5, 6.6, 6.9, 1.3]
}
brics

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capitals': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.511, 17.1, 3.287, 9.597, 1.22],
 'population': [20.93, 14.45, 133.92, 138.64, 5.67],
 'gdp': [1.0, 1.5, 6.6, 6.9, 1.3]}

In [41]:
brics['capitals'][brics['country'].index('Russia')]

'Moscow'

In [42]:
pd.Series(brics)

country           [Brazil, Russia, India, China, South Africa]
capitals      [Brasilia, Moscow, New Delhi, Beijing, Pretoria]
area                         [8.511, 17.1, 3.287, 9.597, 1.22]
population                [20.93, 14.45, 133.92, 138.64, 5.67]
gdp                                  [1.0, 1.5, 6.6, 6.9, 1.3]
dtype: object

In [43]:
# keys : column names 
# values : column values 
pd.DataFrame(brics)

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220        5.67  1.3

In [44]:
pd.DataFrame({ 'country' : ['Brazil','Russia','India','China','South Africa'],
  'capitals' : ['Brasilia','Moscow','New Delhi','Beijing','Pretoria'],
  'area'  : [8.511, 17.1, 3.287, 9.597, 1.22],
  'population' : [20.93, 14.45, 133.92, 138.64, None],
  'gdp' : [1.0, 1.5, 6.6, 6.9, 1.3]
})

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220         NaN  1.3

In [45]:
brics_df = pd.DataFrame(brics)
brics_df

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220        5.67  1.3

In [46]:
brics_df = pd.DataFrame(brics, index = ['A','B', 'C', 'D', 'E'])
brics_df

        country   capitals    area  population  gdp
A        Brazil   Brasilia   8.511       20.93  1.0
B        Russia     Moscow  17.100       14.45  1.5
C         India  New Delhi   3.287      133.92  6.6
D         China    Beijing   9.597      138.64  6.9
E  South Africa   Pretoria   1.220        5.67  1.3

In [47]:
brics_df = pd.DataFrame(brics, index = ['A','B', 'C', 'D', 'E'], columns=['country', 'capitals', 'population', 'area', 'gdp'])
brics_df

        country   capitals  population    area  gdp
A        Brazil   Brasilia       20.93   8.511  1.0
B        Russia     Moscow       14.45  17.100  1.5
C         India  New Delhi      133.92   3.287  6.6
D         China    Beijing      138.64   9.597  6.9
E  South Africa   Pretoria        5.67   1.220  1.3

In [48]:
list([34,87, 89])

[34, 87, 89]

    - importing the data from external sources : csv  excel files --> databases 
    - snapshot
    - structure/ info
    - Accessing columns
    - Accessing rows
    - adding columns
    - adding rows
    - drop rows and/or columns
    - managing index : setting or renaming index column labels or row labels 
    - conditional filtering
    - sorting the data
    - merging / concatenation 
    - Statistical analysis : mean median mode min max sd var range ..... frequencies 
    - aggregation / groupby and pivot
    - Handling missing values / duplicates 
    - Visualization

In [49]:
# get the full information about the arguments in the functions read_csv & read_excel
pd.read_csv()

TypeError: parser_f() missing 1 required positional argument: 'filepath_or_buffer'

In [50]:
# import by setting a working directory

In [51]:
import os

In [52]:
os.getcwd()

'/Users/nimisha/Desktop/Purdue/Python/Weekday_Python'

In [53]:
'/Users/nimisha/Desktop/Purdue/Python'

'/Users/nimisha/Desktop/Purdue/Python'

In [54]:
'C:\\Users\\Vishaal Traders\\Documents\\PythonNotebooks\\DS Python _ July 13_Nim\\Codes

SyntaxError: EOL while scanning string literal (<ipython-input-54-2bbff0b3fef3>, line 1)

In [55]:
'C:\Users\BADRI\Desktop\Python'

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-55-47a233677ccd>, line 1)

In [56]:
'\' --> escape character

SyntaxError: EOL while scanning string literal (<ipython-input-56-a36945daa7c9>, line 1)

In [57]:
os.chdir(r'C:\Users\BADRI\Desktop\Python')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\BADRI\\Desktop\\Python'

In [58]:
print('\\Users')

\Users

if \ in path :
- use 'r' before quotes eg. r'C:\Users\BADRI\Desktop\Python'
- use \\ eg.'C:\\Users\\Vishaal Traders\\Documents\\PythonNotebooks\\DS Python _ July 13_Nim\\Codes'
- use instead / eg. '/Users/nimisha/Desktop/Purdue/Python'

In [59]:
os.chdir('/Users/nimisha/Desktop/Purdue/Python')

In [60]:
pd.read_csv('googleplaystore.csv')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [61]:
# give full path to the file

In [62]:
playstore = pd.read_csv('~/Desktop/Purdue/Python/googleplaystore.csv')

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)

In [ ]:
pd.read_csv()

In [ ]:
pd.read_csv('~/Desktop/Purdue/Python/Pharma.csv', header = 'infer', index_col = 0, skip_blank_lines=False)

pd.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)

In [ ]:
print('Class of Data : ',type(playstore))

## Snapshot of the data

In [ ]:
playstore.head() # top 5 rows

In [ ]:
playstore.tail() # bottom 5 rows

In [ ]:
playstore.head(3)

## Structural Information

In [ ]:
print('Shape of Dataframe   :', playstore.shape)
print('Row Labels (Index)   :', playstore.index)
print('Column/Variable names:', playstore.columns)
print('DataType for each column :\n', playstore.dtypes, sep ='\n')

In [ ]:
playstore.info()

# Explore the data

# Accessing Columns

In [ ]:
# to access a single column

In [ ]:
playstore.App

In [ ]:
playstore['App']

In [ ]:
playstore.columns

In [ ]:
playstore['Last Updated']

In [ ]:
x = 'Last Updated'
x

In [ ]:
x.replace(' ', '_').lower()

In [63]:
playstore.columns = playstore.columns.str.replace(' ','_').str.lower()

In [ ]:
playstore.columns

## Multiple Columns

In [ ]:
playstore[['app', 'category','rating', 'reviews']]

## Accessing Rows

In [ ]:
#### Slicing

In [ ]:
playstore[:4]

In [ ]:
playstore[34:44]

In [ ]:
playstore[34:44:2]

In [ ]:
# iloc : index location
# loc : index label

In [ ]:
playstore.index

In [64]:
playstore.index = list(range(1, len(playstore)+1))

In [ ]:
playstore.tail()

In [ ]:
playstore.iloc[0] # as a series

In [ ]:
playstore.loc[1]

In [ ]:
brics_df.iloc[2]

In [ ]:
brics_df.loc['C']

In [ ]:
brics_df.index = [0, 1, 2, 3, 4]

In [ ]:
brics_df

In [ ]:
sorted_data = brics_df.sort_values('population')

In [ ]:
brics_df

In [ ]:
sorted_data

In [ ]:
sorted_data.iloc[0]

In [ ]:
sorted_data.loc[2]

In [ ]:
playstore.iloc[[2,7,99,100,8345]]

In [ ]:
playstore.loc[[2,7,99,100,8345]]

In [ ]:
playstore.loc[4, 'app']

In [ ]:
playstore.iloc[1, 0]

In [ ]:
playstore.loc[0:5, 'app' : 'reviews']

In [ ]:
playstore.loc[[2,5,6,7], 'app' : 'reviews']

### Rename Rows &/or Columns

In [ ]:
brics_df.rename(columns = {'country' : 'Country', 'capitals':'Capital'})
# this change is creating a new dataframe

In [ ]:
brics_df

In [ ]:
brics_df.rename(columns = {'country' : 'Country', 'capitals':'Capital'}, inplace = True)

In [ ]:
type(brics_df)

In [ ]:
brics_df.rename(index = {0: 'B', 4 : 'S'}, inplace = True)

In [ ]:
brics_df

In [ ]:
Axis = 0 : Column wise operation 
Axis = 1 : Row wise operation

In [ ]:
brics_df.Capital

In [ ]:
brics_df.rename({1: 'R', 2 : 'I'},  axis = 0)

In [ ]:
brics_df.rename({'area': 'Area'},  axis = 1)

In [ ]:
playstore.set_index('app')

In [ ]:
brics_df.set_index('Country')

In [ ]:
brics_df.set_index('Country', inplace = True)

In [ ]:
brics_df

In [ ]:
brics_df.loc['Brazil']

In [ ]:
brics_df.Country

In [ ]:
brics_df.reset_index()

In [ ]:
brics_df

In [ ]:
brics_df.reset_index(inplace = True)

In [ ]:
brics_df

In [ ]:
brics_df.reset_index(inplace = True)

In [ ]:
brics_df

In [ ]:
sorted_data

In [ ]:
sorted_data.reset_index()

In [ ]:
sorted_data.reset_index(drop = True)

In [ ]:
sorted_data

In [ ]:
sorted_data.reset_index(drop = True, inplace = True)

In [ ]:
sorted_data

In [ ]:
playstore.set_index('app')

# Add new Columns to dataframe

In [ ]:
playstore['New'] = ' '

In [ ]:
playstore.head()

In [ ]:
playstore['cat&gen'] = playstore.category + playstore.genres

In [ ]:
playstore.head()

In [ ]:
brics_df['pop_density'] = brics_df.population / brics_df.area

In [ ]:
brics_df

In [ ]:
brics_df.assign(pop_des =list(brics_df.population / brics_df.area),
                pop = brics_df.population, 
                index = 'A')

### to adda ccolumn at in the middle : column insertion

In [ ]:
brics_df.insert(0 , 'Labels' ,['B', 'R','I', 'C', 'S'] )

In [ ]:
brics_df

In [ ]:
brics_df.insert(3 , 'L' ,['B', 'R','I', 'C', 'S'] )

In [ ]:
brics_df

In [ ]:
brics_df.insert(3 , 'L' ,['B', 'R','I', 'C', 'S'] , allow_duplicates=True)

In [ ]:
brics_df

In [ ]:
brics_df.index = [0,0,2,3,4]

In [ ]:
brics_df

In [ ]:
brics_df.loc[[0]]

In [ ]:
brics_df.loc[:, 'L']

## append

In [ ]:
df1.append(df2)

In [ ]:
df1 = brics_df[:-1]

In [ ]:
df2 = brics_df.iloc[-1]

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.append(df2)

In [ ]:
df1 = playstore.iloc[:4, [0,1, 3, 5]]

In [ ]:
df2 = playstore.iloc[4:6, [0,1,2,4]]

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.append(df2)

In [ ]:
# Dropping rows & columns

In [ ]:
brics_df

In [ ]:
brics_df.drop(index = 0)

In [ ]:
brics_df.drop(columns= ['L'])

In [ ]:
brics_df.drop(index = 0, columns = 'L')

## duplicates or Missing values

In [65]:
(playstore.duplicated()).any()

True

In [66]:
playstore[playstore.duplicated()]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
230,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
237,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
240,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
257,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
262,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8644,Wunderlist: To-Do List & Tasks,PRODUCTIVITY,4.6,404610,Varies with device,"10,000,000+",Free,0,Everyone,Productivity,"April 6, 2018",Varies with device,Varies with device
8655,"TickTick: To Do List with Reminder, Day Planner",PRODUCTIVITY,4.6,25370,Varies with device,"1,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device
8659,ColorNote Notepad Notes,PRODUCTIVITY,4.6,2401017,Varies with device,"100,000,000+",Free,0,Everyone,Productivity,"June 27, 2018",Varies with device,Varies with device
10050,Airway Ex - Intubate. Anesthetize. Train.,MEDICAL,4.3,123,86M,"10,000+",Free,0,Everyone,Medical,"June 1, 2018",0.6.88,5.0 and up
10769,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

In [67]:
# No. of duplicated rows :
playstore.duplicated().sum()

483

In [ ]:
brics_df.drop(columns = ['Labels', 'index', 'pop_density', 'L'], inplace = True)

brics_df.reset_index(drop = True, inplace = True)

bb = brics_df.append(brics_df[:3])

bb.reset_index(drop = True, inplace = True)

In [ ]:
bb

In [ ]:
bb.duplicated(keep = 'last')

In [ ]:
bb.duplicated().sum()

In [ ]:
bb[bb.duplicated()]

In [ ]:
bb.drop_duplicates(keep = 'last')

In [ ]:
bb.loc[1,'population'] = 15.45

In [ ]:
bb

In [ ]:
bb.duplicated()

In [ ]:
bb.duplicated(subset='Country')

In [ ]:
bb

In [ ]:
bb.duplicated('Country')

In [ ]:
bb.duplicated(['Country', 'Capital'])

In [ ]:
# play store data drop duplicated ???
- drop duplicates from play store & then reset the index values

In [68]:
playstore.drop_duplicates(ignore_index=True, inplace = True)

In [69]:
playstore.index

RangeIndex(start=0, stop=10358, step=1)

In [ ]:
playstore.drop_duplicates(inplace = True)
playstore.reset_index(inplace = True )

In [ ]:
import sys

In [ ]:
sys.version

In [70]:
# no. of unique values of a ccolumn :
playstore.category.nunique()

34

In [71]:
playstore.category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

## how do we look for a specific row ???

In [75]:
playstore[playstore.category == '1.9']

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
9990,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [74]:
playstore.drop(index = playstore[playstore.category == '1.9'].index)

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10353,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10354,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10355,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10356,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10357,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [ ]:
# drop this row 
# correct this data : ???? Home work

In [77]:
playstore.drop(index = playstore[playstore.category == '1.9'].index, inplace = True)

In [78]:
playstore[playstore.rating >= 4.5].shape

(2815, 13)

In [79]:
playstore[playstore.rating >= 4.5].shape

(2815, 13)

In [80]:
playstore.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10357 entries, 0 to 10357
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10357 non-null  object
 1   category        10357 non-null  object
 2   rating          8892 non-null   float64
 3   reviews         10357 non-null  object
 4   size            10357 non-null  object
 5   installs        10357 non-null  object
 6   type            10356 non-null  object
 7   price           10357 non-null  object
 8   content_rating  10357 non-null  object
 9   genres          10357 non-null  object
 10  last_updated    10357 non-null  object
 11  current_ver     10349 non-null  object
 12  android_ver     10355 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [81]:
playstore.reviews.head()

0       159
1       967
2     87510
3    215644
4       967
Name: reviews, dtype: object

### change an object type data to float / int

In [82]:
playstore.reviews = playstore.reviews.astype(int)

In [ ]:
# NameError : name 'identifier' not defined 
# you havent created that variable / identifier

In [ ]:
# ValueError : when a value is passed to a funcction which is not of the expected format/ type

In [ ]:
playstore.shape

In [ ]:
10357*15

In [ ]:
playstore.size

In [ ]:
playstore.columns

In [ ]:
playstore['size'] # M --> Mb & k - kb

In [ ]:
playstore['size'].unique()

In [ ]:
size = '1.9M'
float(size.replace('M', ''))* 1024

## Apply function

In [83]:
def clean_size(size):
    size = size.lower()
    if 'm' in size :
        res = size.replace('m','')
        res = float(res)*1024
    elif 'k' in size:
        res = size.replace('k','')
        res = float(res)
    elif size == 'varies with device' :
        res = np.NaN
    else : 
        res = float(size)
    return res

In [85]:
playstore.reset_index(inplace = True, drop = True)

In [86]:
size_data1 = []
for i in range(playstore.shape[0]):
    s =  playstore['size'][i]
    res = clean_size(s)
    size_data1.append(res)
#playstore['size'] = size_data1

# OR

In [88]:
size_data2 =[]
for i in range(playstore.shape[0]):
    size_data2.append(clean_size(playstore['size'][i]))
# playstore['size'] = size_data2

# OR

In [89]:
playstore['size'] = playstore['size'].apply(clean_size)

America
US
U.S.A.
the us of a
usa

city = 'Mum'
city.startswith('Mum') or city.startswith('bom')

In [90]:
playstore['size'].head()

0    19456.0
1    14336.0
2     8908.8
3    25600.0
4     2867.2
Name: size, dtype: float64

In [91]:
playstore.installs = playstore.installs.str.replace('[,+]','').astype('int')

In [92]:
playstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10357 entries, 0 to 10356
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10357 non-null  object
 1   category        10357 non-null  object
 2   rating          8892 non-null   float64
 3   reviews         10357 non-null  int64
 4   size            8831 non-null   float64
 5   installs        10357 non-null  int64
 6   type            10356 non-null  object
 7   price           10357 non-null  object
 8   content_rating  10357 non-null  object
 9   genres          10357 non-null  object
 10  last_updated    10357 non-null  object
 11  current_ver     10349 non-null  object
 12  android_ver     10355 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 1.0+ MB

In [93]:
playstore.price= playstore.price.str.replace('$', '').astype('float')

In [94]:
ser = pd.Series(['1.9e', '3.45 g', '9.0', '15a'])

In [95]:
ser

0      1.9e
1    3.45 g
2       9.0
3       15a
dtype: object

In [96]:
import re # regular expression

In [97]:
# only for int :
re.findall('\d+', 'I have 100 books and 90 sccripts')

['100', '90']

In [98]:
re.findall('\d*\.?\d+', '19e+')

['19']

In [99]:
playstore[playstore['size'] =='1,000+']

/Users/nimisha/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [app, category, rating, reviews, size, installs, type, price, content_rating, genres, last_updated, current_ver, android_ver]
Index: []

In [100]:
playstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10357 entries, 0 to 10356
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10357 non-null  object
 1   category        10357 non-null  object
 2   rating          8892 non-null   float64
 3   reviews         10357 non-null  int64
 4   size            8831 non-null   float64
 5   installs        10357 non-null  int64
 6   type            10356 non-null  object
 7   price           10357 non-null  float64
 8   content_rating  10357 non-null  object
 9   genres          10357 non-null  object
 10  last_updated    10357 non-null  object
 11  current_ver     10349 non-null  object
 12  android_ver     10355 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.0+ MB

In [101]:
from datetime import datetime as dt
playstore.last_updated= playstore.last_updated.apply(lambda x : dt.strptime(x, '%B %d, %Y') )

playstore['Last Updated']= playstore['Last Updated'].apply(lambda x : dt.strptime(x, '%B %d, %Y') )

In [102]:
import datetime as dt
dt.datetime.strptime

In [105]:
# playstore['Last Updated']

In [106]:
playstore.android_ver

0              4.0.3 and up
1              4.0.3 and up
2              4.0.3 and up
3                4.2 and up
4                4.4 and up
                ...
10352            4.1 and up
10353            4.1 and up
10354            2.2 and up
10355    Varies with device
10356    Varies with device
Name: android_ver, Length: 10357, dtype: object

In [107]:
playstore.columns

Index(['app', 'category', 'rating', 'reviews', 'size', 'installs', 'type',
       'price', 'content_rating', 'genres', 'last_updated', 'current_ver',
       'android_ver'],
      dtype='object')

In [108]:
playstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10357 entries, 0 to 10356
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10357 non-null  object
 1   category        10357 non-null  object
 2   rating          8892 non-null   float64
 3   reviews         10357 non-null  int64
 4   size            8831 non-null   float64
 5   installs        10357 non-null  int64
 6   type            10356 non-null  object
 7   price           10357 non-null  float64
 8   content_rating  10357 non-null  object
 9   genres          10357 non-null  object
 10  last_updated    10357 non-null  datetime64[ns]
 11  current_ver     10349 non-null  object
 12  android_ver     10355 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(7)
memory usage: 1.0+ MB

* import data as dataframes DONE
* snapshot of the data DONE
* structural information : shape size datatypes rows columns DONE
* Accessing Columns DONE
* Accessing Rows DONE
* Acccessing Rows and Columns DONE
* Working with Row and column labels DONE
* Adding Rows & Columns DONE
* Dropping Rows and Columnns DONE
* Merging & append
* Conditional filtering DONE
* sorting
* Statisticcal Analysis
* Group by aggregation

In [123]:
left = pd.DataFrame({'Name' : ['Jacob', 'John', 'Jack', 'Jia', 'Jake', 'Jay'],
                    'Enrol_No' : ['A101', 'A102','A103', 'A104', 'A105', 'A106'],
                    'Sex' : ['M', 'M', 'M', 'F', 'M', 'M']})

In [124]:
right = pd.DataFrame({'Name' : ['Jacob', 'John', 'Jack', 'James', 'Jena'],
                    'Enrol_No' : ['A101', 'A102','A103', 'A105', 'A108'],
                    'Marks' : [90 , 88, 55, 95, 67]})

In [126]:
left

    Name Enrol_No Sex
0  Jacob     A101   M
1   John     A102   M
2   Jack     A103   M
3    Jia     A104   F
4   Jake     A105   M
5    Jay     A106   M

In [116]:
right

    Name Enrol_No  Marks
0  Jacob     A101     90
1   John     A102     88
2   Jack     A103     55
3  James     A105     95
4   Jena     A108     67

## Merging : joining two datasets at a common key

    1. Inner Merge : includes the common items of the primary key | present in both left & right

In [118]:
pd.merge(left, right, how = 'inner', on = 'Enrol_No')

  Name_x Enrol_No Sex Name_y  Marks
0  Jacob     A101   M  Jacob     90
1   John     A102   M   John     88
2   Jack     A103   M   Jack     55
3   Jake     A105   M  James     95

    2. Outer Merge : includes all the elements of the primary key | present in either

In [119]:
pd.merge(left, right, how = 'outer', on = 'Enrol_No')

  Name_x Enrol_No  Sex Name_y  Marks
0  Jacob     A101    M  Jacob   90.0
1   John     A102    M   John   88.0
2   Jack     A103    M   Jack   55.0
3    Jia     A104    F    NaN    NaN
4   Jake     A105    M  James   95.0
5    NaN     A108  NaN   Jena   67.0

    3. Left Merge : includes all the primary elements present in the left data | present in left

In [120]:
pd.merge(left, right, how = 'left', on = 'Enrol_No')

  Name_x Enrol_No Sex Name_y  Marks
0  Jacob     A101   M  Jacob   90.0
1   John     A102   M   John   88.0
2   Jack     A103   M   Jack   55.0
3    Jia     A104   F    NaN    NaN
4   Jake     A105   M  James   95.0

    3. Right Merge : includes all the primary elements present in the Right data | present in Right

In [127]:
pd.merge(left, right, how = 'right', on = 'Enrol_No')

  Name_x Enrol_No  Sex Name_y  Marks
0  Jacob     A101    M  Jacob     90
1   John     A102    M   John     88
2   Jack     A103    M   Jack     55
3   Jake     A105    M  James     95
4    NaN     A108  NaN   Jena     67

### The other column with the same name is going to be suffixed appropriately

In [128]:
pd.merge(left, right, how = 'outer', on = 'Enrol_No', suffixes= ('_left', '_right'))

  Name_left Enrol_No  Sex Name_right  Marks
0     Jacob     A101    M      Jacob   90.0
1      John     A102    M       John   88.0
2      Jack     A103    M       Jack   55.0
3       Jia     A104    F        NaN    NaN
4      Jake     A105    M      James   95.0
5       Jay     A106    M        NaN    NaN
6       NaN     A108  NaN       Jena   67.0

In [129]:
pd.merge(left, right, how = 'outer', on = 'Enrol_No', suffixes= ('_left', '_right'),indicator=True)

  Name_left Enrol_No  Sex Name_right  Marks      _merge
0     Jacob     A101    M      Jacob   90.0        both
1      John     A102    M       John   88.0        both
2      Jack     A103    M       Jack   55.0        both
3       Jia     A104    F        NaN    NaN   left_only
4      Jake     A105    M      James   95.0        both
5       Jay     A106    M        NaN    NaN   left_only
6       NaN     A108  NaN       Jena   67.0  right_only

In [130]:
pd.merge(left, right, how = 'outer', on = ['Enrol_No', 'Name'], suffixes= ('_left', '_right'),indicator=True)

    Name Enrol_No  Sex  Marks      _merge
0  Jacob     A101    M   90.0        both
1   John     A102    M   88.0        both
2   Jack     A103    M   55.0        both
3    Jia     A104    F    NaN   left_only
4   Jake     A105    M    NaN   left_only
5    Jay     A106    M    NaN   left_only
6  James     A105  NaN   95.0  right_only
7   Jena     A108  NaN   67.0  right_only

In [131]:
# if there is no ccommon column name ???
left = pd.DataFrame({'Name' : ['Jacob', 'John', 'Jack', 'Jia', 'Jake', 'Jay'],
                    'ID' : ['A101', 'A102','A103', 'A104', 'A105', 'A106'],
                    'Sex' : ['M', 'M', 'M', 'F', 'M', 'M']})

In [138]:
right = pd.DataFrame({'Student_Name' : ['Jacob', 'John', 'Jack', 'James', 'Jena'],
                    'Enrol_No' : ['A101', 'A102','A103', 'A105', 'A108'],
                    'Marks' : [90 , 88, 55, 95, 67]})

In [137]:
pd.merge(left, right, left_on = ['ID', 'Name'], right_on =  ['Enrol_No','Student_Name'])

   Name    ID Sex Student_Name Enrol_No  Marks
0  John  A102   M         John     A102     88
1  Jack  A103   M         Jack     A103     55

## concat : merge & append more than 2 dfs

        - concat for append

In [141]:
playstore.columns[[0,1,2,3,5,7]]

Index(['app', 'category', 'rating', 'reviews', 'installs', 'price'], dtype='object')

In [148]:
df1 = playstore.iloc[:5, [0,1,3,5]]
df2 = playstore.iloc[8:12, [0,1,2]]
df3 = playstore.iloc[20:25, [0,1,5,7]]

In [158]:
df1

,app,category,reviews,installs
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,159,10000
1,Coloring book moana,ART_AND_DESIGN,967,500000
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,87510,5000000
3,Sketch - Draw & Paint,ART_AND_DESIGN,215644,50000000
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,967,100000

In [159]:
df2

                                        app        category  rating
8                      Garden Coloring Book  ART_AND_DESIGN     4.4
9             Kids Paint Free - Drawing Fun  ART_AND_DESIGN     4.7
10                  Text on Photo - Fonteee  ART_AND_DESIGN     4.4
11  Name Art Photo Editor - Focus n Filters  ART_AND_DESIGN     4.4

In [148]:
pd.concat([df1, df2, df3], axis = 0, join = 'outer', ignore_index=True,sort= False )

,app,category,reviews,installs,rating,price
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,159.0,10000.0,NaN,NaN
1,Coloring book moana,ART_AND_DESIGN,967.0,500000.0,NaN,NaN
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,87510.0,5000000.0,NaN,NaN
3,Sketch - Draw & Paint,ART_AND_DESIGN,215644.0,50000000.0,NaN,NaN
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,967.0,100000.0,NaN,NaN
5,Garden Coloring Book,ART_AND_DESIGN,NaN,NaN,4.4,NaN
6,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,NaN,NaN,4.7,NaN
7,Text on Photo - Fonteee,ART_AND_DESIGN,NaN,NaN,4.4,NaN
8,Name Art Photo Editor - Focus n Filters,ART_AND_DESIGN,NaN,NaN,4.4,NaN
9,Logo Maker - Small Business,ART_AND_DESIGN,NaN,100000.0,NaN,0.0
10,Boys Photo Editor - Six Pack & Men's Suit,ART_AND_DESIGN,NaN,100000.0,NaN,0.0
11,Superheroes Wallpapers | 4K Backgrounds,ART_AND_DESIGN,NaN,500000.0,NaN,0.0
12,Mcqueen Coloring pages,ART_AND_DESIGN,NaN,100000.0,NaN,0.0
13,HD Mickey Minnie Wallpapers,ART_AND_DESIGN,NaN,50000.0,NaN,0.0

In [149]:
center = pd.DataFrame({'Enrol' : ['A101', 'A105', 'A107', 'A108'],
                      'Hobbies' : ['Arts', 'Music', 'Sports', 'Dance']})

In [150]:
left

    Name    ID Sex
0  Jacob  A101   M
1   John  A102   M
2   Jack  A103   M
3    Jia  A104   F
4   Jake  A105   M
5    Jay  A106   M

In [151]:
right

  Student_Name Enrol_No  Marks
0        Jacob     A101     90
1         John     A102     88
2         Jack     A103     55
3        James     A105     95
4         Jena     A108     67

In [152]:
center

  Enrol Hobbies
0  A101    Arts
1  A105   Music
2  A107  Sports
3  A108   Dance

In [157]:
pd.concat([left.set_index('ID'),right.set_index('Enrol_No'), center.set_index('Enrol')], axis = 1, join = 'outer')

       Name  Sex Student_Name  Marks Hobbies
A101  Jacob    M        Jacob   90.0    Arts
A102   John    M         John   88.0     NaN
A103   Jack    M         Jack   55.0     NaN
A104    Jia    F          NaN    NaN     NaN
A105   Jake    M        James   95.0   Music
A106    Jay    M          NaN    NaN     NaN
A108    NaN  NaN         Jena   67.0   Dance
A107    NaN  NaN          NaN    NaN  Sports

In [156]:
right.set_index('Enrol_No')

         Student_Name  Marks
Enrol_No
A101            Jacob     90
A102             John     88
A103             Jack     55
A105            James     95
A108             Jena     67

# Conditional Filtering data

In [160]:
playstore

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19456.0,10000,Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14336.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8908.8,5000000,Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25600.0,50000000,Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2867.2,100000,Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10352,Sya9a Maroc - FR,FAMILY,4.5,38,54272.0,5000,Free,0.0,Everyone,Education,2017-07-25,1.48,4.1 and up
10353,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3686.4,100,Free,0.0,Everyone,Education,2018-07-06,1.0,4.1 and up
10354,Parkinson Exercices FR,MEDICAL,NaN,3,9728.0,1000,Free,0.0,Everyone,Medical,2017-01-20,1.0,2.2 and up
10355,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,1000,Free,0.0,Mature 17+,Books & Reference,2015-01-19,Varies with device,Varies with device
10356,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19456.0,10000000,Free,0.0,Everyone,Lifestyle,2018-07-25,Varies with device,Varies with device

## All apps with more than 4.5 Ratings ??

In [162]:
playstore[playstore.rating > 4.5]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8908.8,5000000,Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3174.4,10000,Free,0.0,Everyone,Art & Design;Creativity,2018-07-03,2.8,4.0.3 and up
13,Mandala Coloring Book,ART_AND_DESIGN,4.6,4326,21504.0,100000,Free,0.0,Everyone,Art & Design,2018-06-26,1.0.4,4.4 and up
16,Photo Designer - Write your name with shapes,ART_AND_DESIGN,4.7,3632,5632.0,500000,Free,0.0,Everyone,Art & Design,2018-07-31,3.1,4.1 and up
19,ibis Paint X,ART_AND_DESIGN,4.6,224399,31744.0,10000000,Free,0.0,Everyone,Art & Design,2018-07-30,5.5.4,4.1 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10326,Fr Lupupa Sermons,BUSINESS,4.8,19,21504.0,100,Free,0.0,Everyone,Business,2018-06-12,1.0,4.4 and up
10336,Fr. Daoud Lamei,FAMILY,5.0,22,8806.4,1000,Free,0.0,Teen,Education,2018-06-27,3.8.0,4.1 and up
10345,Bulgarian French Dictionary Fr,BOOKS_AND_REFERENCE,4.6,603,7577.6,10000,Free,0.0,Everyone,Books & Reference,2016-06-19,2.96,4.1 and up
10349,Chemin (fr),BOOKS_AND_REFERENCE,4.8,44,619.0,1000,Free,0.0,Everyone,Books & Reference,2014-03-23,0.8,2.2 and up
10353,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3686.4,100,Free,0.0,Everyone,Education,2018-07-06,1.0,4.1 and up

# All the apps > 4.5 ratings & which are free ?

In [165]:
playstore[(playstore.rating > 4.5) & (playstore.type == 'Free')].shape

(1640, 13)

& : element wise and
    results in True if both are True else false
| : element wise or 
    results in True if either is True else False

In [168]:
playstore.category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [169]:
## Shopping Sports & Medical apps

In [170]:
playstore[(playstore.category == 'SHOPPING') | (playstore.category == 'MEDICAL' )| (playstore.category =='SPORTS')]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
1985,Monash Uni Low FODMAP Diet,MEDICAL,4.2,1135,12288.0,100000,Paid,9.00,Everyone,Medical,2018-07-16,2.0.7,4.0 and up
1986,iBP Blood Pressure,MEDICAL,4.4,578,704.0,10000,Paid,0.99,Everyone,Medical,2014-11-30,7.0.1,2.2 and up
1987,Pedi STAT,MEDICAL,4.6,129,2969.6,10000,Paid,5.49,Everyone,Medical,2018-04-06,3.0.1.0,4.1 and up
1988,ASCCP Mobile,MEDICAL,4.5,63,25600.0,10000,Paid,9.99,Everyone,Medical,2016-10-03,2.1.1,2.2 and up
1989,Journal Club: Medicine,MEDICAL,4.8,216,NaN,10000,Paid,6.99,Everyone,Medical,2017-06-17,Varies with device,Varies with device
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10270,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599,12288.0,1000000,Free,0.00,Everyone,Shopping,2018-07-30,3.9,4.4 and up
10291,FQ - Football Quiz,SPORTS,NaN,1,9216.0,1,Free,0.00,Everyone,Sports,2018-05-29,1.0,5.0 and up
10322,SnakeBite911 FR,MEDICAL,NaN,1,43008.0,500,Free,0.00,Everyone,Medical,2017-10-09,1.2,4.1 and up
10340,Cardio-FR,MEDICAL,NaN,67,83968.0,10000,Free,0.00,Everyone,Medical,2018-07-31,2.2.2,4.4 and up
10354,Parkinson Exercices FR,MEDICAL,NaN,3,9728.0,1000,Free,0.00,Everyone,Medical,2017-01-20,1.0,2.2 and up

In [171]:
playstore[playstore.category.isin(['MEDICAL', 'SPORTS', 'SHOPPING'])]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
1985,Monash Uni Low FODMAP Diet,MEDICAL,4.2,1135,12288.0,100000,Paid,9.00,Everyone,Medical,2018-07-16,2.0.7,4.0 and up
1986,iBP Blood Pressure,MEDICAL,4.4,578,704.0,10000,Paid,0.99,Everyone,Medical,2014-11-30,7.0.1,2.2 and up
1987,Pedi STAT,MEDICAL,4.6,129,2969.6,10000,Paid,5.49,Everyone,Medical,2018-04-06,3.0.1.0,4.1 and up
1988,ASCCP Mobile,MEDICAL,4.5,63,25600.0,10000,Paid,9.99,Everyone,Medical,2016-10-03,2.1.1,2.2 and up
1989,Journal Club: Medicine,MEDICAL,4.8,216,NaN,10000,Paid,6.99,Everyone,Medical,2017-06-17,Varies with device,Varies with device
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10270,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599,12288.0,1000000,Free,0.00,Everyone,Shopping,2018-07-30,3.9,4.4 and up
10291,FQ - Football Quiz,SPORTS,NaN,1,9216.0,1,Free,0.00,Everyone,Sports,2018-05-29,1.0,5.0 and up
10322,SnakeBite911 FR,MEDICAL,NaN,1,43008.0,500,Free,0.00,Everyone,Medical,2017-10-09,1.2,4.1 and up
10340,Cardio-FR,MEDICAL,NaN,67,83968.0,10000,Free,0.00,Everyone,Medical,2018-07-31,2.2.2,4.4 and up
10354,Parkinson Exercices FR,MEDICAL,NaN,3,9728.0,1000,Free,0.00,Everyone,Medical,2017-01-20,1.0,2.2 and up

In [173]:
a = np.array([True, True, False, True])
b = np.array([True, False, False, True])

In [174]:
a & b

array([ True, False, False,  True])

In [178]:
a and b

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

# Sorting of data

In [181]:
playstore.sort_values('rating') # in ascending order

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
7336,CR Magazine,BUSINESS,1.0,1,7987.2,100,Free,0.0,Everyone,Business,2014-07-23,2.4.2,2.3.3 and up
6031,MbH BM,MEDICAL,1.0,1,2355.2,100,Free,0.0,Everyone,Medical,2016-12-14,1.1.3,4.3 and up
8394,DT future1 cam,TOOLS,1.0,1,24576.0,50,Free,0.0,Everyone,Tools,2018-03-27,3.1,2.2 and up
5860,BJ Bridge Standard American 2018,GAME,1.0,1,5017.6,1000,Free,0.0,Everyone,Card,2018-05-21,6.2-sayc,4.0 and up
4695,Clarksburg AH,MEDICAL,1.0,1,28672.0,50,Free,0.0,Everyone,Medical,2017-05-01,300000.0.81,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10340,Cardio-FR,MEDICAL,NaN,67,83968.0,10000,Free,0.0,Everyone,Medical,2018-07-31,2.2.2,4.4 and up
10341,Naruto & Boruto FR,SOCIAL,NaN,7,7884.8,100,Free,0.0,Teen,Social,2018-02-02,1.0,4.0 and up
10347,payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38,10035.2,5000,Free,0.0,Everyone,Maps & Navigation,2018-06-13,2.0.148.0,4.0 and up
10351,FR Forms,BUSINESS,NaN,0,9830.4,10,Free,0.0,Everyone,Business,2016-09-29,1.1.5,4.0 and up
10354,Parkinson Exercices FR,MEDICAL,NaN,3,9728.0,1000,Free,0.0,Everyone,Medical,2017-01-20,1.0,2.2 and up

In [182]:
playstore.sort_values('rating', ascending= False ) # descending Order

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
4684,Chenoweth AH,MEDICAL,5.0,1,27648.0,100,Free,0.0,Everyone,Medical,2017-04-03,300000.0.78,4.0.3 and up
7329,Cr Aviation Academy,FAMILY,5.0,7,22528.0,100,Free,0.0,Everyone,Education,2017-08-09,1.0,4.1 and up
7286,iReadMe,PRODUCTIVITY,5.0,8,22528.0,100,Free,0.0,Everyone,Productivity,2018-03-06,1.5,4.4 and up
7284,CricQuick,SPORTS,5.0,17,1536.0,50,Free,0.0,Everyone,Sports,2017-12-08,1.0,4.0.3 and up
7261,CQ ESPM,BUSINESS,5.0,2,3481.6,5,Free,0.0,Everyone,Business,2017-06-03,1.0.1,4.1 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10340,Cardio-FR,MEDICAL,NaN,67,83968.0,10000,Free,0.0,Everyone,Medical,2018-07-31,2.2.2,4.4 and up
10341,Naruto & Boruto FR,SOCIAL,NaN,7,7884.8,100,Free,0.0,Teen,Social,2018-02-02,1.0,4.0 and up
10347,payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38,10035.2,5000,Free,0.0,Everyone,Maps & Navigation,2018-06-13,2.0.148.0,4.0 and up
10351,FR Forms,BUSINESS,NaN,0,9830.4,10,Free,0.0,Everyone,Business,2016-09-29,1.1.5,4.0 and up
10354,Parkinson Exercices FR,MEDICAL,NaN,3,9728.0,1000,Free,0.0,Everyone,Medical,2017-01-20,1.0,2.2 and up

In [183]:
playstore.sort_values(['rating', 'reviews'], ascending= False ) # descending Order

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
9875,Ríos de Fe,LIFESTYLE,5.0,141,15360.0,1000,Free,0.00,Everyone,Lifestyle,2018-03-24,1.8,4.1 and up
9819,"FD Calculator (EMI, SIP, RD & Loan Eligilibility)",FINANCE,5.0,104,2355.2,1000,Free,0.00,Everyone,Finance,2018-08-07,2.1.0,4.1 and up
7587,Oración CX,LIFESTYLE,5.0,103,3891.2,5000,Free,0.00,Everyone,Lifestyle,2017-09-12,5.1.10,4.1 and up
6357,Barisal University App-BU Face,FAMILY,5.0,100,10240.0,1000,Free,0.00,Everyone,Education,2018-05-06,3.1.1,4.0.3 and up
9015,Master E.K,FAMILY,5.0,90,NaN,1000,Free,0.00,Everyone,Education,2017-08-11,1.5.0,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10289,FQ India,LIFESTYLE,NaN,0,9113.6,10,Free,0.00,Everyone,Lifestyle,2018-07-31,7.2.2,4.1 and up
10290,Miss FQ,NEWS_AND_MAGAZINES,NaN,0,36864.0,10,Free,0.00,Everyone,News & Magazines,2018-04-05,3.8,4.4 and up
10314,Word Search Tab 1 FR,FAMILY,NaN,0,1020.0,50,Paid,1.04,Everyone,Puzzle,2012-02-06,1.1,3.0 and up
10338,PLMGSS FR,PRODUCTIVITY,NaN,0,3174.4,10,Free,0.00,Everyone,Productivity,2017-12-01,1,4.4 and up
10351,FR Forms,BUSINESS,NaN,0,9830.4,10,Free,0.00,Everyone,Business,2016-09-29,1.1.5,4.0 and up

In [184]:
playstore.sort_values(['rating', 'reviews'], ascending= [False, True] )

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
890,Mindvalley U Tallinn 2018,EVENTS,5.0,1,21504.0,100,Free,0.0,Everyone,Events,2018-07-03,1.0.5,4.4 and up
2164,Labs on Demand,MEDICAL,5.0,1,22528.0,10,Free,0.0,Everyone,Medical,2018-08-03,1.2,4.2 and up
2178,Anatomy & Physiology Vocabulary Exam Review App,MEDICAL,5.0,1,4710.4,5,Free,0.0,Everyone,Medical,2018-08-02,2.0,4.0 and up
2191,NCLEX Multi-topic Nursing Exam Review-Quiz & n...,MEDICAL,5.0,1,4300.8,10,Free,0.0,Everyone,Medical,2018-07-24,1.0,4.0.3 and up
2196,Basics of Orthopaedics,MEDICAL,5.0,1,5734.4,10,Free,0.0,Everyone,Medical,2018-07-27,1.0,4.1 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9131,Em Fuga Brasil,FAMILY,NaN,1317,61440.0,100000,Free,0.0,Everyone,Simulation,2018-04-22,1.0,4.1 and up
288,【Ranobbe complete free】 Novelba - Free app tha...,COMICS,NaN,1330,22528.0,50000,Free,0.0,Everyone,Comics,2018-07-03,6.1.1,4.2 and up
1360,Young Speeches,LIBRARIES_AND_DEMO,NaN,2221,2457.6,500000,Free,0.0,Everyone,Libraries & Demo,2017-01-08,1.1,2.3 and up
9086,Adivina el Emoji,GAME,NaN,2536,32768.0,100000,Free,0.0,Everyone,Trivia,2016-10-02,1.00,4.0.3 and up
3163,We learn children's verses in kindergarten,PARENTING,NaN,3248,6656.0,100000,Free,0.0,Everyone,Parenting;Education,2017-12-20,2.10,4.0 and up

In [ ]:
# statistical analysis 
# missing values
# Aggregation
# Visualization