# DATE TIME FUNCTIONS

### date is object format

In [1]:
import datetime

In [4]:
today = datetime.date(2020, 7, 21 )

In [5]:
today.year

2020

In [6]:
today.month

7

In [7]:
today.day

21

In [8]:
datetime.MAXYEAR

9999

In [9]:
datetime.MINYEAR

1

In [10]:
datetime.datetime.now() # present date & time system

datetime.datetime(2020, 7, 21, 20, 21, 37, 858795)

In [11]:
# utc time 
datetime.datetime.utcnow()

datetime.datetime(2020, 7, 21, 14, 52, 42, 597826)

-> Program composed of modules
-> Modules composed of statements
-> statements composed of expression

In [15]:
??datetime # to get the source code

Object `datetime # to getthe source code ` not found.

In [18]:
year = 1990
month = 4
day = 9
dob = datetime.datetime(year, month, day)

In [19]:
dob

datetime.datetime(1990, 4, 9, 0, 0)

### Date formatting : converts a date object to a string or a string to a date object

In [21]:
datetime.datetime.strftime(dob, '%d - %m - %Y')

'09 - 04 - 1990'

In [22]:
datetime.datetime.strftime(dob, '%B %d, %Y')

'April 09, 1990'

In [24]:
datetime.datetime.strftime(dob, '%A, %B %d, %Y')

'Monday, April 09, 1990'

In [25]:
datetime.datetime.strptime('Monday, April 09, 1990','%A, %B %d, %Y')

datetime.datetime(1990, 4, 9, 0, 0)

In [26]:
age = datetime.datetime.now() - dob

In [27]:
age

datetime.timedelta(days=11061, seconds=75217, microseconds=603834)

In [28]:
age.days

11061

In [29]:
age.total_seconds()

955745617.603834

In [35]:
(age.days * 24 * 60 * 60 )+ 75217

955745617

In [36]:
from dateutil.relativedelta import relativedelta

In [37]:
today = datetime.datetime.now()
relativedelta(today, dob)

relativedelta(years=+30, months=+3, days=+12, hours=+20, minutes=+57, seconds=+26, microseconds=+762377)

In [38]:
# create a time delta object 
# rolling 12 months - last 12 months 
# this year

In [39]:
today

datetime.datetime(2020, 7, 21, 20, 57, 26, 762377)

In [45]:
start = datetime.datetime(2020, 8,20) - relativedelta(months = 12, day = 1)

datetime.datetime(2019, 8, 1, 0, 0)

#  Pandas : data manipulation package

In [46]:
import pandas as pd
import numpy as np

#### 1. Series    : 1 dimensional labelled array like structures which may be heterogenous 
#### 2. Dataframe : 2 dimesnional labelled array like structures which may be heterogenous 
                  : Multiple series merged togetther create a dataframe

In [48]:
info_list = ['Nimisha', 33, 'LT' , 5000]
info_dict = { 'Name' : 'Nimisha', 'Age' : 32, 'Desig': 'LT', 'Sal': 5000}

In [52]:
info_array = np.array(list(info_dict.values()))

In [50]:
info_array

array(dict_values(['Nimisha', 32, 'LT', 5000]), dtype=object)

In [57]:
marks = { 'John' : 34, 'Marry' : 45, 'Joseph' : 43, 'Jack' : 49} 
marks

{'John': 34, 'Marry': 45, 'Joseph': 43, 'Jack': 49}

In [ ]:
# a Series from a dictionary

In [55]:
marks_ser = pd.Series(marks)

In [56]:
marks_ser

John      34
Marry     45
Joseph    43
Jack      49
dtype: int64

In [58]:
marks['John']

34

In [59]:
marks_ser.index

Index(['John', 'Marry', 'Joseph', 'Jack'], dtype='object')

In [60]:
marks_ser.values

array([34, 45, 43, 49])

In [74]:
# get person who scored max marks 
maxi = 0 
pers = ''
for i in marks.keys():
    print(i,marks[i])
    if maxi < marks[i]:
        maxi = marks[i]
        pers = i

John 34
Marry 45
Joseph 43
Jack 49

In [71]:
maxi

49

In [72]:
pers

'Jack'

In [76]:
marks_ser.argmax() # to get the index location

3

In [77]:
marks_ser

John      34
Marry     45
Joseph    43
Jack      49
dtype: int64

In [78]:
marks_ser['Marry']

45

In [79]:
marks_ser[1]

45

In [84]:
marks_ser.index[marks_ser == marks_ser.max()]

Index(['Jack'], dtype='object')

In [86]:
info_ser = pd.Series(info_dict)

In [87]:
info_ser

Name     Nimisha
Age           32
Desig         LT
Sal         5000
dtype: object

In [88]:
info_array

array(['Nimisha', '32', 'LT', '5000'], dtype='<U7')

In [89]:
info_ser['Name']

'Nimisha'

In [90]:
info_ser['Age']

32

In [92]:
ser = pd.Series(['Nimisha', 33, 'LT', 5000, 'Mrs. Nimisha Pandey'], 
               index = ['Name', 'Age', 'Desig', 'Sal', 'Name'])

In [93]:
ser

Name                 Nimisha
Age                       33
Desig                     LT
Sal                     5000
Name     Mrs. Nimisha Pandey
dtype: object

In [94]:
ser['Name']

Name                Nimisha
Name    Mrs. Nimisha Pandey
dtype: object

In [102]:
marks_ser.index[marks_ser == marks_ser.max()]

Index(['Jack'], dtype='object')

In [101]:
marks_ser.index[0]

'John'

In [103]:
ser1 = pd.Series([10,20,30,40,50,60])
ser1

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [104]:
ser1 = pd.Series([10,20,30,40,50,60], index = ['a', 'b', 'c', 'd', 'e', 'f'])
ser1

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [106]:
ser2 = pd.Series([10,20,40,60, 70, 80], index = ['a', 'b', 'd', 'f', 'g', 'h'])
ser2

a    10
b    20
d    40
f    60
g    70
h    80
dtype: int64

In [108]:
add_ser = ser1 + ser2

In [109]:
add_ser.fillna(0)

a     20.0
b     40.0
c      0.0
d     80.0
e      0.0
f    120.0
g      0.0
h      0.0
dtype: float64

In [118]:
(ser1 + ser2).fillna(0)

a     20.0
b     40.0
c      0.0
d     80.0
e      0.0
f    120.0
g      0.0
h      0.0
dtype: float64

In [113]:
ser1.add(ser2, fill_value = 0)

a     20.0
b     40.0
c     30.0
d     80.0
e     50.0
f    120.0
g     70.0
h     80.0
dtype: float64

- in ser 1 g & h are missing so for ser 1 g & h will be assigned 0
- in ser 2 c & e are missing so for ser 2 c & e will be assigned 0

In [115]:
ser1.multiply(ser2, fill_value= 1)

a     100.0
b     400.0
c      30.0
d    1600.0
e      50.0
f    3600.0
g      70.0
h      80.0
dtype: float64

In [117]:
ser1.divide(ser2, fill_value=1)

a     1.000000
b     1.000000
c    30.000000
d     1.000000
e    50.000000
f     1.000000
g     0.014286
h     0.012500
dtype: float64

## Dataframes

# using dictionary

In [119]:
brics = { 'country' : ['Brazil','Russia','India','China','South Africa'],
         'capitals' : ['Brasilia','Moscow','New Delhi','Beijing','Pretoria'],
         'area'  : [8.511, 17.1, 3.287, 9.597, 1.22],
         'population' : [20.93, 14.45, 133.92, 138.64, 5.67],
         'gdp' : [1.0, 1.5, 6.6, 6.9, 1.3]
}
brics

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capitals': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.511, 17.1, 3.287, 9.597, 1.22],
 'population': [20.93, 14.45, 133.92, 138.64, 5.67],
 'gdp': [1.0, 1.5, 6.6, 6.9, 1.3]}

In [122]:
brics['capitals'][brics['country'].index('Russia')]

'Moscow'

In [123]:
pd.Series(brics)

country           [Brazil, Russia, India, China, South Africa]
capitals      [Brasilia, Moscow, New Delhi, Beijing, Pretoria]
area                         [8.511, 17.1, 3.287, 9.597, 1.22]
population                [20.93, 14.45, 133.92, 138.64, 5.67]
gdp                                  [1.0, 1.5, 6.6, 6.9, 1.3]
dtype: object

In [124]:
# keys : column names 
# values : column values 
pd.DataFrame(brics)

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220        5.67  1.3

In [127]:
pd.DataFrame({ 'country' : ['Brazil','Russia','India','China','South Africa'],
  'capitals' : ['Brasilia','Moscow','New Delhi','Beijing','Pretoria'],
  'area'  : [8.511, 17.1, 3.287, 9.597, 1.22],
  'population' : [20.93, 14.45, 133.92, 138.64, None],
  'gdp' : [1.0, 1.5, 6.6, 6.9, 1.3]
})

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220         NaN  1.3

In [129]:
brics_df = pd.DataFrame(brics)
brics_df

        country   capitals    area  population  gdp
0        Brazil   Brasilia   8.511       20.93  1.0
1        Russia     Moscow  17.100       14.45  1.5
2         India  New Delhi   3.287      133.92  6.6
3         China    Beijing   9.597      138.64  6.9
4  South Africa   Pretoria   1.220        5.67  1.3

In [130]:
brics_df = pd.DataFrame(brics, index = ['A','B', 'C', 'D', 'E'])
brics_df

        country   capitals    area  population  gdp
A        Brazil   Brasilia   8.511       20.93  1.0
B        Russia     Moscow  17.100       14.45  1.5
C         India  New Delhi   3.287      133.92  6.6
D         China    Beijing   9.597      138.64  6.9
E  South Africa   Pretoria   1.220        5.67  1.3

In [132]:
brics_df = pd.DataFrame(brics, index = ['A','B', 'C', 'D', 'E'], columns=['country', 'capitals', 'population', 'area', 'gdp'])
brics_df

        country   capitals  population    area  gdp
A        Brazil   Brasilia       20.93   8.511  1.0
B        Russia     Moscow       14.45  17.100  1.5
C         India  New Delhi      133.92   3.287  6.6
D         China    Beijing      138.64   9.597  6.9
E  South Africa   Pretoria        5.67   1.220  1.3

In [133]:
list([34,87, 89])

[34, 87, 89]

    - importing the data from external sources : csv  excel files --> databases 
    - snapshot
    - structure/ info
    - Accessing columns
    - Accessing rows
    - adding columns
    - adding rows
    - drop rows and/or columns
    - managing index : setting or renaming index column labels or row labels 
    - conditional filtering
    - sorting the data
    - merging / concatenation 
    - Statistical analysis : mean median mode min max sd var range ..... frequencies 
    - aggregation / groupby and pivot
    - Handling missing values / duplicates 
    - Visualization

In [ ]:
# get the full information about the arguments in the functions read_csv & read_excel
pd.read_csv()

In [ ]:
# import by setting a working directory

In [134]:
import os

In [135]:
os.getcwd()

'/Users/nimisha/Desktop/Purdue/Python/Weekday_Python'

In [ ]:
'/Users/nimisha/Desktop/Purdue/Python'

In [ ]:
'C:\\Users\\Vishaal Traders\\Documents\\PythonNotebooks\\DS Python _ July 13_Nim\\Codes

In [ ]:
'C:\Users\BADRI\Desktop\Python'

In [ ]:
'\' --> escape character

In [139]:
os.chdir(r'C:\Users\BADRI\Desktop\Python')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\BADRI\\Desktop\\Python'

In [138]:
print('\\Users')

\Users

if \ in path :
- use 'r' before quotes eg. r'C:\Users\BADRI\Desktop\Python'
- use \\ eg.'C:\\Users\\Vishaal Traders\\Documents\\PythonNotebooks\\DS Python _ July 13_Nim\\Codes'
- use instead / eg. '/Users/nimisha/Desktop/Purdue/Python'

In [140]:
os.chdir('/Users/nimisha/Desktop/Purdue/Python')

In [141]:
pd.read_csv('googleplaystore.csv')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [ ]:
# give full path to the file

In [143]:
playstore = pd.read_csv('~/Desktop/Purdue/Python/googleplaystore.csv')

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)

In [ ]:
pd.read_csv()

In [155]:
pd.read_csv('~/Desktop/Purdue/Python/Pharma.csv', header = 'infer', index_col = 0, skip_blank_lines=False)

,Name,Market_Cap,Beta,PE_Ratio,ROE,ROA,Asset_Turnover,Leverage,Rev_Growth,Net_Profit_Margin,Location,Exchange
Symbol,,,,,,,,,,,,
NVS,Novartis AG,96.65,0.19,21.6,17.9,11.2,0.5,0.06,-2.69,22.4,SWITZERLAND,NYSE
BAY,Bayer AG,16.90,1.11,27.9,3.9,1.4,0.6,0.00,-3.17,2.6,GERMANY,NYSE
CHTT,"Chattem, Inc",0.41,0.85,26.0,24.1,4.3,0.6,3.51,6.38,7.5,US,NASDAQ
AVE,Aventis,47.16,0.32,20.1,21.8,7.5,0.6,0.34,26.81,12.9,FRANCE,NYSE
IVX,IVAX Corporation,2.60,0.65,19.9,21.4,6.8,0.6,1.45,13.99,11.0,US,AMEX
PFE,Pfizer Inc,199.47,0.65,23.6,45.6,19.2,0.8,0.16,25.54,25.2,US,NYSE
AZN,AstraZeneca PLC,67.63,0.52,21.5,27.4,15.4,0.9,0.00,15.00,18.0,UK,NYSE
JNJ,Johnson & Johnson,173.93,0.46,28.4,28.6,16.3,0.9,0.10,9.37,17.9,US,NYSE
ABT,Abbott Laboratories,68.44,0.32,24.7,26.4,11.8,0.7,0.42,7.54,16.1,US,NYSE
BMY,Bristol-Myers Squibb Company,51.33,0.50,13.9,34.8,15.1,0.9,0.57,2.70,20.6,US,NYSE
SGP,Schering-Plough Corporation,34.10,0.51,18.9,22.6,13.3,0.8,0.00,8.56,17.6,US,NYSE
AGN,"Allergan, Inc.",7.58,0.41,82.5,12.9,5.5,0.9,0.60,9.16,5.5,CANADA,NYSE
PHA,Pharmacia Corporation,56.24,0.40,56.5,13.5,5.7,0.6,0.35,15.00,7.3,US,NYSE
WPI,"Watson Pharmaceuticals, Inc.",3.26,0.24,18.4,10.2,6.8,0.5,0.20,29.18,15.1,US,NYSE
MRK,"Merck & Co., Inc.",132.56,0.46,18.9,40.6,15.0,1.1,0.28,17.35,14.1,US,NYSE
WYE,Wyeth,48.19,0.63,13.1,54.9,13.4,0.6,1.12,0.36,25.5,US,NYSE
LLY,Eli Lilly and Company,73.84,0.18,27.9,31.0,13.5,0.6,0.53,6.21,23.4,US,NYSE
AHM,Amersham plc,6.30,0.46,20.7,14.9,7.8,0.9,0.27,7.05,11.2,UK,NYSE
ELN,"Elan Corporation, plc",0.78,1.08,3.6,15.1,5.1,0.3,1.07,34.21,13.3,IRELAND,NYSE
MRX,Medicis Pharmaceutical Corporation,1.20,0.75,28.6,11.2,5.4,0.3,0.93,30.37,21.3,US,NYSE
GSK,GlaxoSmithKline plc,122.11,0.35,18.0,62.9,20.3,1.0,0.34,21.87,21.1,UK,NYSE

pd.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)