In [1]:
# is for comment in cell mode / comment opertor in Python
# cell : code cell 
#     : markdown cell

# Vivek Gautam
## Vivek Gautam
### Vivek Gautam
#### Vivek Gautam

In [2]:
# for cell execution shortcut : shift + return ( enter)

In [2]:
# Python statements are supposed to be single line 
# 
1 + 3 + 4 + 7 + 9

24

In [7]:
1 + 3
4

4

In [5]:
1 + 3 + 1
4

4

## identifiers : names given to vvariables objects functions or classes
    - an identifier can start witth a letter [ A - Z a - z] or an underscore ( _ )
    - it may be followed by zero or more commbinations of letters undersccore or digits [0-9]
    - Case sensitive
    - reserved words CANNOT be used : break if else for in is continue ..... 
    - builtin functions & attributes : MAY NOT be used

break : green & bold : reserved word

print : green

print = 1 --> reassign the value 1 to print and print will loose its acctual task 
until you restart the kernel

In [6]:
break = 1

SyntaxError: invalid syntax (<ipython-input-6-dbb844e64c6c>, line 1)

In [7]:
print = 1

In [8]:
print

1

In [8]:
# builtins available 
print(dir()) # directory function : will list down all objects in the present directory

['In', 'Out', '_', '_1', '_2', '_3', '_5', '_6', '_7', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'quit']

In [9]:
# builtin attributes & functions 
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [ ]:
# OOPS : object Oriented Programming : classes & objects

In [ ]:
abs()

In [ ]:
# markdown : incclude text/ images / comments in our code

# Python Programming

![image](python.jpg)

## calling help

In [2]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
# if you just want to know syntax / temporary help : 
print # shift + tab

# Data Types 
    - integers
    - float
    - strings
    - boolean

# Python Strings

In [8]:
message1 = 'From small beginnings come great success!'
message1

'From small beginnings come great success!'

In [9]:
print(message1)

From small beginnings come great success!

In [4]:
message2 = 'You can't rise above by pulling others down.'
message2

SyntaxError: invalid syntax (<ipython-input-4-c618beaba155>, line 1)

In [7]:
message2 = 'You can\'t rise above by pulling others down.'
message2

"You can't rise above by pulling others down."

In [12]:
message2 = "You can't rise above by pulling others down."
message2

"You can't rise above by pulling others down."

In [14]:
'''x'''
"""x"""

'x'

## multiline Strings

In [15]:
print("To be, or not to be, that is the question: \
Whether 'tis nobler in the mind to suffer \
The slings and arrows of outrageous fortune, \
Or to take arms against a sea of troubles \
And by opposing end them.")

To be, or not to be, that is the question:Whether 'tis nobler in the mind to sufferThe slings and arrows of outrageous fortune,Or to take arms against a sea of troublesAnd by opposing end them.

In [20]:
print("To be, or not to be, that is the question:\nWhether 'tis nobler in the mind to suffer\nThe slings and arrows of outrageous fortune,\nOr to take arms against a sea of troubles\nAnd by opposing end them.")

To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.

In [23]:
print("""To be, or not to be, that is the question: 
Whether 'tis nobler in the mind to suffer 
The slings and arrows of outrageous fortune, 
Or to take arms against a sea of troubles 
And by opposing end them.""")

To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.

In [25]:
print('''To be, or not to be, that is the question: 
Whether 'tis nobler in the mind to suffer 
The slings and arrows of outrageous fortune, 
Or to take arms against a sea of troubles 
And by opposing end them.''')

To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.

In [27]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [28]:
# shortcut for commenting a line
# control + /
# command + /

## string is object

In [29]:
message1

'From small beginnings come great success!'

In [30]:
# what is the datatype than an object is storing ???
type(message1)

str

In [31]:
# all the funnctions & attributes associated with a string object
print(dir(message1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
# indexing starts with 0 
# first location = 0
# last locccation = length - 1 also (-1)

In [33]:
# to use object associated functions : we use a dot operator (.)
print(message1)
message1.find('m') # finds the first location(index) of the given character

From small beginnings come great success!

3

In [34]:
message1.count('m')

3

In [35]:
# calling help for these associated functions / methods
help(message1.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [36]:
?message1.count

Docstring:
S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.
Type:      builtin_function_or_method

In [8]:
message1.count

NameError: name 'message1' is not defined

In [37]:
message1.upper() # press tab

'FROM SMALL BEGINNINGS COME GREAT SUCCESS!'

In [38]:
name = ' Nimisha '
name.center(100, '*')

'********************************************* Nimisha **********************************************'

# Numbers

In [39]:
a = 145
b = 34.88

In [40]:
type(a)

int

In [41]:
type(b)

float

# Boolean : True or False

In [10]:
x = True
y = False

In [9]:
type(x)

NameError: name 'x' is not defined

In [11]:
x = 23.88

In [12]:
x

23.88

In [13]:
x

23.88

# Type Conversion

    - int() 
    - float()
    - str()
    - bool()

## Converting anything to string

In [52]:
ex1 = 34
ex2 = 45.99
ex3 = False

print(ex1, ' : ', type(ex1), ' String convert', str(ex1), type(str(ex1)))
print(ex2, ' : ', type(ex2), ' String convert', str(ex2), type(str(ex2)))
print(ex3, ' : ', type(ex3), ' String convert', str(ex3), type(str(ex3)))

### Convversion between the numerical types int float & bool

In [53]:
print('int to float : ',float(ex1))
print('bool to float : ',float(ex3))

int to float :  34.0
bool to float :  0.0

In [54]:
print('float to int : ',int(ex2))
print('bool to int : ',int(ex3))

float to int :  45
bool to int :  0

In [56]:
print(' float to bool : ',bool(ex1))
print(' int to bool : ',bool(ex2))

 float to bool :  True
 int to bool :  True

In [60]:
# 0 --> False 
# everythin else --> True 
bool(0.0000000000000000000000000001)

True

## conversion from strings to int

In [66]:
ex4 = '32' 
ex5 = '34 a'
ex6 = '34a'
ex7 = '34.77'
ex8 = '34.'

In [63]:
int(ex4)

32

In [64]:
int(ex5)

ValueError: invalid literal for int() with base 10: '34 a'

In [65]:
int(ex6)

ValueError: invalid literal for int() with base 10: '34a'

In [67]:
int(ex7)

ValueError: invalid literal for int() with base 10: '34.77'

In [68]:
int(ex8)

ValueError: invalid literal for int() with base 10: '34.'

In [70]:
int('   34   ')

34

### string to float

In [72]:
float(ex4)

32.0

In [73]:
float(ex5)

ValueError: could not convert string to float: '34 a'

In [74]:
float(ex6)

ValueError: could not convert string to float: '34a'

In [75]:
float(ex7)

34.77

In [76]:
float(ex8)

34.0

# Arithmetic Operators
    1. + - * /
    2. %  : modulus
    3. // : integer divide
    4. ** : exponent 
# Relational Operators
    1. == : equals to
    2. != : not equals to
    3. < | <=
    4. > | >=
    5. in / not in 
# Logical Operators
    1. and : logical and
    2. & : element wise and
    3. or : logical or
    4. |  : element wise or

In [77]:
77/6

12.833333333333334

In [78]:
77%6

5

In [79]:
77//6

12

In [ ]:
and
&
or 
|

# Data Structures : Sets | List | Tuples | Dictionaries

# 1. Set : unordered collection of unique data elements

In [80]:
empty_set = set()
basket = {'apple', 'milk','bread', 'eggs', 'curd', 'coconut', 'meat', 'milk', 'guava', 'banana','peach','oranges', 'apple', 'bread', 'milk'}
mix = {23, 98.88, True, 'string', 23, 98, 65.44}

In [81]:
print('empty set  :', empty_set,'\nlength of the set : ', len(empty_set))
print('basket set :', basket,'\nlength of the set : ', len(basket))
print('mix set  :', mix,'\nlength of the set : ', len(mix))

empty set  : set()
length of the set :  0
basket set : {'milk', 'guava', 'curd', 'banana', 'meat', 'bread', 'apple', 'oranges', 'coconut', 'peach', 'eggs'}
length of the set :  11
mix set  : {True, 98.88, 98, 65.44, 'string', 23}
length of the set :  6

In [82]:
type(mix)

set

# set associated function

In [ ]:
basket.

In [83]:
# Add an element to a set
print('Before Add ', basket, '\nlength of the set : ', len(basket))
basket.add('eggs')
print('After Add ', basket, '\nlength of the set : ', len(basket))

Before Add  {'milk', 'guava', 'curd', 'banana', 'meat', 'bread', 'apple', 'oranges', 'coconut', 'peach', 'eggs'}
length of the set :  11
After Add  {'milk', 'guava', 'curd', 'banana', 'meat', 'bread', 'apple', 'oranges', 'coconut', 'peach', 'eggs'}
length of the set :  11

In [89]:
# Add an element to a set
print('Before Add ', basket, '\nlength of the set : ', len(basket))
basket.add('jam')
print('After Add ', basket, '\nlength of the set : ', len(basket))

Before Add  {'milk', 'guava', 'curd', 'banana', 'meat', 'bread', 'apple', 'oranges', 'coconut', 'peach', 'eggs'}
length of the set :  11
After Add  {'milk', 'guava', 'curd', 'banana', 'meat', 'bread', 'apple', 'oranges', 'jam', 'coconut', 'peach', 'eggs'}
length of the set :  12

## Remove an element1

In [90]:
print('Before Remove ', basket, '\nlength of the set : ', len(basket))
basket.remove('jam')
print('After Remove ', basket, '\nlength of the set : ', len(basket))

Before Remove  {'milk', 'guava', 'curd', 'banana', 'meat', 'bread', 'apple', 'oranges', 'jam', 'coconut', 'peach', 'eggs'}
length of the set :  12
After Remove  {'milk', 'guava', 'curd', 'banana', 'meat', 'bread', 'apple', 'oranges', 'coconut', 'peach', 'eggs'}
length of the set :  11

In [94]:
print('Before Pop ', basket, '\nlength of the set : ', len(basket))
print('Element popped', basket.pop())
print('After Pop ', basket, '\nlength of the set : ', len(basket))

Before Pop  {'banana', 'meat', 'bread', 'apple', 'oranges', 'coconut', 'peach', 'eggs'}
length of the set :  8
Element popped banana
After Pop  {'meat', 'bread', 'apple', 'oranges', 'coconut', 'peach', 'eggs'}
length of the set :  7

In [98]:
basket1 = {'apples', 'oranges', 'peaches', 'tomatoes', 'milk' , 'cheese', 'bread', 'butter', 'yogurt'}
basket2 = {'milk', 'sugar', 'cheese', 'tomatoes', 'cucumber','jam','butter'}

### union

In [101]:
print('Union of basket1 and basket 2\n', basket1.union(basket2))

Union of basket1 and basket 2
 {'milk', 'apples', 'cucumber', 'sugar', 'peaches', 'bread', 'oranges', 'jam', 'yogurt', 'cheese', 'butter', 'tomatoes'}

## intersection

In [102]:
print('Intersection of basket1 and basket 2', basket1.intersection(basket2))

Intersection of basket1 and basket 2 {'milk', 'tomatoes', 'butter', 'cheese'}

## difference

In [103]:
print('Differencce basket1 from basket 2', basket1.difference(basket2))

Differencce basket1 from basket 2 {'apples', 'peaches', 'bread', 'oranges', 'yogurt'}

In [104]:
print('Differencce basket2 from basket 1', basket2.difference(basket1))

Differencce basket2 from basket 1 {'cucumber', 'jam', 'sugar'}

In [105]:
print('Differencce basket1 between basket 2', basket1.symmetric_difference(basket2))

Differencce basket1 between basket 2 {'oranges', 'jam', 'apples', 'cucumber', 'sugar', 'peaches', 'bread', 'yogurt'}

union : items present in both 
intersection : only common ones
difference : only uncommon ones

# 2. Lists : ordered collection of data separated by commas

In [106]:
empty_list = list() # []
basket_list = ['apple', 'milk','bread', 'eggs', 'curd', 'coconut', 'meat', 'milk', 'guava', 'banana','peach','oranges', 'apple', 'bread' ]
alist = [1,'a',2,'b',3,'c', 4,'d',5, 'e', 6, 'e']

In [107]:
print('empty list  :', empty_list)
print('basket list :', basket_list)
print('alist       :', alist)

empty list  : []
basket list : ['apple', 'milk', 'bread', 'eggs', 'curd', 'coconut', 'meat', 'milk', 'guava', 'banana', 'peach', 'oranges', 'apple', 'bread']
alist       : [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'e']

In [108]:
# indices to acess data
# indices are locations

In [109]:
# indices    0   1     2    3    4    5    6    7    8    9 
new_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# -ives.    -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

In [110]:
print('First Element  :', new_list[0])
print('Second Element :', new_list[1])
print('Third  Element :', new_list[2])

First Element  : a
Second Element : b
Third  Element : c

In [111]:
print('Last Element        :', new_list[-1])
print('Second Last Element :', new_list[-2])
print('Third Last Element  :', new_list[-3])

Last Element        : j
Second Last Element : i
Third Last Element  : h

# Slicing : getting a piece of a list

## using colon (:) operator
     - start index : stop index : step
     start index starting ndex location by default = 0
     stop index stopping location by default = -1
     stop index value is excluded

In [112]:
new_list[ : ]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [113]:
new_list[ 2 : ]

['c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [114]:
new_list[ : 6]

['a', 'b', 'c', 'd', 'e', 'f']

In [115]:
new_list[2:6]

['c', 'd', 'e', 'f']

## step : difference between the prev and the next index
#### - default step = 1

In [116]:
new_list[ 1: 9: 2]

['b', 'd', 'f', 'h']

## if step is a positive value ( +1 , +2, +3....)  stop value should be on th right of the start value
    - for a positive step move from left to right

In [118]:
# indices    0    1    2   3   4   5   6   7   8   9 
new_list = ['a' ,'b', 'c','d','e','f','g','h','i','j']
# -ives.    -10   -9  -8  -7  -6  -5  -4   -3  -2  -1

In [119]:
new_list[ -9 : -2 : 1]

['b', 'c', 'd', 'e', 'f', 'g', 'h']

In [120]:
new_list[-2 : -9 : 1]

[]

In [121]:
new_list[-9 : 6 : 1]

['b', 'c', 'd', 'e', 'f']

## if step is a negative value ( -1 , -2, -3)  stop value should be on th left of the start value

In [122]:
# indices    0    1    2   3   4   5   6   7   8   9 
new_list = ['a' ,'b', 'c','d','e','f','g','h','i','j']
# -ives.    -10   -9  -8  -7  -6  -5  -4   -3  -2  -1

In [123]:
new_list[-2 : -9 : -1]

['i', 'h', 'g', 'f', 'e', 'd', 'c']

In [124]:
basket_list

['apple',
 'milk',
 'bread',
 'eggs',
 'curd',
 'coconut',
 'meat',
 'milk',
 'guava',
 'banana',
 'peach',
 'oranges',
 'apple',
 'bread']