### + * with list or tuples ---> repeats

In [1]:
[4,5,6]*3

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [5]:
(4,5,6) * 4

(4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6)

In [9]:
(4,5,6) *

(4, 5, 6, 4, 5, 6)

# Conditional Statements

if conditional expression :
    statement1
    statement2
    statement3
else : #(optional)
    statements if false

In [4]:
# lets an input of a number & print even ?

In [5]:
# input a nummber from a user
num = input('Please enter a number')

Please enter a number 34

In [7]:
num, type(num)

('34', str)

In [11]:
num = int(input('Please enter a number'))

Please enter a number 43

In [13]:
if num % 2 == 0 :
    print(num, 'is Even')
else :
    print(num, 'is Odd')

43 is Odd

# Single Suite Statements

In [15]:
if num % 2 == 0 :print(num, 'is Even')
else :print(num, 'is Odd')

43 is Odd

In [16]:
# if the number is even then find squares & ccubes as re1 res2
# if the number is odd then ccompute 6 timmes the number & 10 times thenumber as res1 & res2

In [17]:
num = int(input('Please enter a number'))
if num % 2 == 0:
    res1 = num**2
    res2 = num**3
else :
    res1 = 6*num
    res2 = 10*num

Please enter a number 55

In [18]:
# grade : 
# 90 & above ---> A
#  75  -  90 ---> B
#  55  -  75 ---> C
#  35  -  55 ---> D
#  below  35 ---> F

In [12]:
8^2

10

In [11]:
marks = 45
if marks >= 90: grade = 'A'
else :
    if marks >= 75 : grade = 'B'
    else :
        if marks >= 55 : grade = 'C'
        else :
            if marks >= 35 : grade = 'D'
            else : grade = 'F'
grade

'D'

In [13]:
marks = 45
if marks >= 90: grade = 'A'
elif marks >= 75 : grade = 'B'
elif marks >= 55 : grade = 'C'
elif marks >= 35 : grade = 'D'
else : grade = 'F'
grade

'D'

discount to its members as 15% if purchase is 500 & above
discounts to non members as 10% if purchase is 1000 & above

In [14]:
membership = 'Y'
amount = 2300
if (membership == "Y") and (amount >= 500):
    disc = 0.15
elif (membership == 'N') and(amount >= 1000):
    disc = 0.10
else:
    disc = 0

and : logical and
or  : logical or

In [15]:
True or False

True

In [16]:
True | False

True

In [10]:
True & True == True
True & False == False
False & True == False
False & False == False

True | True == True
True | False == True
False | True == True
False | False == False

True

In [17]:
countries = ['Malaysia', 'Bhutan', 'Indonesia', 'Nepal', 'Mauritius',  'Cook Islands','Fiji',  'Barbados',
            'British Virgin Islands', 'Dominica','Grenada','Haiti','Jamaica','Montserrat','St. Kitts and Nevis',
            'St. Vincent and the Grenadines','Trinidad and Tobago',
            'El Salvador', 'Qatar']
country = input('Which country ? ')
if country in countries :
    print('Visa not required')
else : print('Visa Required')

Which country ? India
Visa Required

In [32]:
name = 'Vivek'
n = 'A'
if .lower() in name.lower():print('True')

SyntaxError: invalid syntax (<ipython-input-32-9cb5d20b8a44>, line 3)

In [22]:
'A' == 'a'

False

In [44]:
names = ['Nimisha', 'Jason', 'Wells', 'ria', 'KAREN']

In [43]:
name = input('Enter a name ')

Enter a name  NIMISHA

In [48]:
names[0]= names[0].upper()

# Loops : iterations

In [1]:
print('Nimisha')
print('Nimisha')
print('Nimisha')
print('Nimisha')
print('Nimisha')
print('Nimisha')
print('Nimisha')
print('Nimisha')
print('Nimisha')
print('Nimisha')

Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha

1. for loop : we are certain about the number of iterations
2. while loop : iterations depend on a condition

for loop_variables in iteration_object :
    statement 1
    statement 2

In [2]:
for count in (1,2,3,4,5,6,7,8,9,10):
    print('Nimisha')

Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha

## to create a range of numbers in python using a builtin we use range function
## - range(stop)
## - range(start , stop [ ,step])

In [3]:
range(10) # range object

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
for count in range(10):
    print('Vivek Gautam')

Vivek Gautam
Vivek Gautam
Vivek Gautam
Vivek Gautam
Vivek Gautam
Vivek Gautam
Vivek Gautam
Vivek Gautam
Vivek Gautam
Vivek Gautam

### 2. while loop : operates till a condition is true

In [8]:
code = True
count = 0
while code:
    print('Nimisha')
    count += 1 # equivalent count = count + 1
    if count == 10: code = False

Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha

In [9]:
count = 0
while count != 10:
    print('Nimisha')
    count += 1 # equivalent count = count + 1

Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha
Nimisha

# convert all the country names to lower case

In [23]:
print(countries)

['malaysia', 'bhutan', 'indonesia', 'nepal', 'mauritius', 'cook islands', 'fiji', 'barbados', 'british virgin islands', 'dominica', 'grenada', 'haiti', 'jamaica', 'montserrat', 'st. kitts and nevis', 'st. vincent and the grenadines', 'trinidad and tobago', 'el salvador', 'qatar']

In [25]:
countries = ['Malaysia', 'Bhutan', 'Indonesia', 'Nepal', 'Mauritius',  'Cook Islands','Fiji',  'Barbados',
            'British Virgin Islands', 'Dominica','Grenada','Haiti','Jamaica','Montserrat','St. Kitts and Nevis',
            'St. Vincent and the Grenadines','Trinidad and Tobago',
            'El Salvador', 'Qatar']

In [25]:
for index in range(len(countries)):
    print(countries[index])
    countries[index] = countries[index].lower()

In [25]:
country = input(' enter country')
if country.lower() in countries :
    print('Visa not required')
else : print('Visa Required')

 enter country BHUTAN

Visa not required

In [26]:
for char in 'Nimisha':
    print(char)

N
i
m
i
s
h
a

In [27]:
# factorial of a number using a for loop ?

    - 5! = 5 * 4 * 3 * 2 *1
    - n! = (n-0) * (n-1) * (n-2) * (n-3).... * (n - (n- 1))

In [ ]:
fac = 1
fac = fac * (n-0)
fac = fac * (n-1)
fac = fac * (n-2)

In [29]:
fac = 1
n = 5
for i in range(0, n):
    fac *= (n-i)
print(fac)

120

In [30]:
num  = 8
num_copy = num
fac = 1
while num > 1:
    fac *= num # fac = fac * num
    num -= 1   # num = num - 1
print('Factorial of ', num_copy , 'is', fac)

Factorial of  8 is 40320

In [31]:
# prime numbers 
# check whether a number is prime or not ??
# a number which is divisible by only 1 & itself i.e it should notr be divisible by any other number between 2 & number - 1

In [34]:
number = 32
res = 'Prime'
for i in range(2, number):
    if number % i == 0:
        res = 'Non Prime'
print(number ,  ' is ', res)
print(i)

32  is  Non Prime
31

# 32 is divisible by 2
# FLow Control Statements
- break : terminates the immediate loop as encountered the 
- continue : skips the remaining statements for that execution & mmoves on to the next iteration of that loop

In [36]:
number = 33
res = 'Prime'
for i in range(2, number):
    if number % i == 0:
        res = 'Non Prime'
        break
print(number ,  ' is ', res)
print(i)

33  is  Non Prime
3

In [ ]:
# print a table of 2 3 and 4 
# 2 --> 2+2 = 4
# 3 --> 3+2 = 5
# 4 --> 4+2

In [ ]:
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12

In [39]:
for i in range(2, 6):
    print('\nTable of ', i )
    print('----------------')
    for j in range(1,11):
        if j > i+2:
            break
        print(i ,'X', j,'=', i*j)
    print('End of Table')

Table of  2
----------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
End of Table

Table of  3
----------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
End of Table

Table of  4
----------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
End of Table

Table of  5
----------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
End of Table

In [41]:
for i in range(2, 6):
    print('\nTable of ', i )
    print('----------------')
    for j in range(1,11):
        if j == i+2:
            continue
        print(i ,'X', j,'=', i*j)
    print('End of Table')

Table of  2
----------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
End of Table

Table of  3
----------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
End of Table

Table of  4
----------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
End of Table

Table of  5
----------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
End of Table

In [47]:
n = 25
for i in range(2,n): 
    if(n%i)== 0 : 
        print(n,'Number is Non prime')
        break
    else:         
        print(n,'Number is prime')

25 Number is prime
25 Number is prime
25 Number is prime
25 Number is Non prime

### For Else Statement
### Else block it is execcuted if the loop terminates naturally / on completion

In [49]:
n = 7
for i in range(2,n): 
    if(n%i)== 0 : 
        print(n,'Number is Non prime')
        break
else:         
    print(n,'Number is prime')

7 Number is prime

In [50]:
number  = 35
for i in range(2, number):
    if number % i == 0:
        print('Non Prime')
        break
else : print('Prime')

Non Prime

In [52]:
number  = 3
for i in range(2, number):
    if number % i == 0:
        print('Non Prime')
        print('break encountered')
        break
else : print('Prime')

Prime

In [53]:
for i in range(6):
    print(i)
else :
    print('Finally Finished')

0
1
2
3
4
5
Finally Finished