## Excercise 1

In [1]:
import pandas as pd

In [2]:
R = pd.DataFrame({'A': [3,1,2],'B': [1,3,3],'C': [2,2,1]},index=[0, 1, 2])

In [3]:
S = pd.DataFrame({'A': [1,1,2,3],'C': [3,2,3,2],'D': [2,3,1,1]},index=[0, 1, 2,3 ])

In [4]:
RS = [R, S]

In [5]:
result = pd.concat(RS)

In [6]:
result

   A    B  C    D
0  3  1.0  2  NaN
1  1  3.0  2  NaN
2  2  3.0  1  NaN
0  1  NaN  3  2.0
1  1  NaN  2  3.0
2  2  NaN  3  1.0
3  3  NaN  2  1.0